@model SetUserPasswordModel

@{
    ViewData["Title"] = "Đặt mật khẩu";
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Users</li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<partial name="_StatusMessage" />

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body col-md-6">
                <h4 class="font-weight-bold mb-4">@ViewData["Title"] cho <span class="text-primary">@ViewBag.user.UserName</span></h4>

                <form id="set-password-form" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group d-flex gap-2 mt-4">
                        <button type="submit" class="btn btn-primary d-inline-flex align-items-center mr-2">
                            <i data-feather="lock" class="mr-1 icon-md"></i> Đặt mật khẩu
                        </button>
                        <a asp-action="Index" class="btn btn-outline-secondary d-inline-flex align-items-center">
                            <i data-feather="chevron-left" class="mr-1 icon-md"></i> Danh sách thành viên
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        feather.replace();
    </script>
    <partial name="_ValidationScriptsPartial" />
}
