<div class="main bg-light-grey min-vh-main">
	<div class="icontainer">
		<section class="ipy-16 ipt-xl-20 ipb-xl-25">
			<div class="row">
				<div class="d-flex justify-content-center justify-content-xl-between">
					<div class="h1 text-center text-xl-start imb-8">Bài viết nổi bật</div>
					<a class="d-none d-xl-flex hyperlink align-items-center imb-8" href="https://itviec.com/blog/">
						Xem tất cả
						<svg class="feather-icon icon-md">
							<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
						</svg>

					</a>
				</div>
				<div class="col-12 col-xl-6">
					<div class="position-relative" data-blogs-slider-delay-value="3500" data-controller="blogs-slider">
						<div class="swiper irounded-xl swiper-initialized swiper-horizontal swiper-pointer-events" data-blogs-slider-target="swiperContainer">
							<div class="swiper-wrapper" style="transform: translate3d(-2826px, 0px, 0px); transition-duration: 0ms;">
								<div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="1" style="width: 914px; margin-right: 28px;">
									<div class="card blog-card">
										<a target="_blank" class="sponsor-blog-image-container" href="https://itviec.com/blog/moi-truong-lam-viec-mb/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost ?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
											<picture>
												<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN1hKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--47b6ce27d811c5f0ebabe0f78613c251eeef3650/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/A%CC%89nh-1.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN1hKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--47b6ce27d811c5f0ebabe0f78613c251eeef3650/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/A%CC%89nh-1.jpg">
												<img data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN1hKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--47b6ce27d811c5f0ebabe0f78613c251eeef3650/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/A%CC%89nh-1.jpg" class=" ls-is-cached lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN1hKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--47b6ce27d811c5f0ebabe0f78613c251eeef3650/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/A%CC%89nh-1.jpg">
											</picture>
										</a><div class="card-body blog-card-title p-0 imt-3">
											<h2 class="card-title text-start im-xl-3">
												<a class="text-rich-grey" target="_blank" href="https://itviec.com/blog/moi-truong-lam-viec-mb/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost%20?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">MB và dấu ấn của môi trường làm việc bền vững, hạnh phúc</a>
											</h2>
											<p class="card-text im-xl-3 imb-5 paragraph text-start text-rich-grey opacity-75 text-clamp-3">
												Ngân hàng TMCP Quân đội (MB) tiếp tục phát huy những giá trị từ các thế hệ đi trước nhằm xây dựng một môi trường làm việc tại MB bền vững, khát khao học hỏi và hạnh phúc. Cùng tìm hiểu nhé!
											</p>
										</div>
										<div class="card-body blog-card-link d-none d-xl-flex align-items-end">
											<a target="_blank" href="https://itviec.com/blog/moi-truong-lam-viec-mb/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost ?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
												<div class="hyperlink d-flex align-items-center">
													Bắt đầu đọc
													<svg class="feather-icon icon-md">
														<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
													</svg>

												</div>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 914px; margin-right: 28px;">
									<div class="card blog-card">
										<a target="_blank" class="sponsor-blog-image-container" href="https://itviec.com/blog/baas-by-mbbank/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost ?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
											<picture>
												<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXJKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--27711dcce6508face22eb59daeef37fed5bd42ef/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/baas-by-mbbank-cover-vippro.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXJKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--27711dcce6508face22eb59daeef37fed5bd42ef/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/baas-by-mbbank-cover-vippro.jpg">
												<img data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXJKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--27711dcce6508face22eb59daeef37fed5bd42ef/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/baas-by-mbbank-cover-vippro.jpg" class=" lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXJKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--27711dcce6508face22eb59daeef37fed5bd42ef/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/baas-by-mbbank-cover-vippro.jpg">
											</picture>
										</a><div class="card-body blog-card-title p-0 imt-3">
											<h2 class="card-title text-start im-xl-3">
												<a class="text-rich-grey" target="_blank" href="https://itviec.com/blog/baas-by-mbbank/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost%20?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">BaaS By MBBank: Dẫn đầu thị trường với thế mạnh vượt trội </a>
											</h2>
											<p class="card-text im-xl-3 imb-5 paragraph text-start text-rich-grey opacity-75 text-clamp-3">
												Cùng tìm hiểu về BaaS by MBBank qua góc nhìn chuyên gia. Không chỉ là giải pháp hàng đầu với 1.200+ API mà còn là cầu nối tạo dựng hệ sinh thái đối tác đa dạng, lấy khách hàng làm trung tâm.
											</p>
										</div>
										<div class="card-body blog-card-link d-none d-xl-flex align-items-end">
											<a target="_blank" href="https://itviec.com/blog/baas-by-mbbank/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost ?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
												<div class="hyperlink d-flex align-items-center">
													Bắt đầu đọc
													<svg class="feather-icon icon-md">
														<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
													</svg>

												</div>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 914px; margin-right: 28px;">
									<div class="card blog-card">
										<a target="_blank" class="sponsor-blog-image-container" href="https://itviec.com/blog/moi-truong-lam-viec-mb/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost ?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
											<picture>
												<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN1hKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--47b6ce27d811c5f0ebabe0f78613c251eeef3650/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/A%CC%89nh-1.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN1hKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--47b6ce27d811c5f0ebabe0f78613c251eeef3650/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/A%CC%89nh-1.jpg">
												<img data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN1hKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--47b6ce27d811c5f0ebabe0f78613c251eeef3650/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/A%CC%89nh-1.jpg" class=" lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBN1hKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--47b6ce27d811c5f0ebabe0f78613c251eeef3650/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/A%CC%89nh-1.jpg">
											</picture>
										</a><div class="card-body blog-card-title p-0 imt-3">
											<h2 class="card-title text-start im-xl-3">
												<a class="text-rich-grey" target="_blank" href="https://itviec.com/blog/moi-truong-lam-viec-mb/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost%20?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">MB và dấu ấn của môi trường làm việc bền vững, hạnh phúc</a>
											</h2>
											<p class="card-text im-xl-3 imb-5 paragraph text-start text-rich-grey opacity-75 text-clamp-3">
												Ngân hàng TMCP Quân đội (MB) tiếp tục phát huy những giá trị từ các thế hệ đi trước nhằm xây dựng một môi trường làm việc tại MB bền vững, khát khao học hỏi và hạnh phúc. Cùng tìm hiểu nhé!
											</p>
										</div>
										<div class="card-body blog-card-link d-none d-xl-flex align-items-end">
											<a target="_blank" href="https://itviec.com/blog/moi-truong-lam-viec-mb/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost ?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
												<div class="hyperlink d-flex align-items-center">
													Bắt đầu đọc
													<svg class="feather-icon icon-md">
														<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
													</svg>

												</div>
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="width: 914px; margin-right: 28px;">
									<div class="card blog-card">
										<a target="_blank" class="sponsor-blog-image-container" href="https://itviec.com/blog/baas-by-mbbank/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost ?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
											<picture>
												<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXJKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--27711dcce6508face22eb59daeef37fed5bd42ef/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/baas-by-mbbank-cover-vippro.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXJKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--27711dcce6508face22eb59daeef37fed5bd42ef/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/baas-by-mbbank-cover-vippro.jpg">
												<img data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXJKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--27711dcce6508face22eb59daeef37fed5bd42ef/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/baas-by-mbbank-cover-vippro.jpg" class=" lazyloaded" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNXJKVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--27711dcce6508face22eb59daeef37fed5bd42ef/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/baas-by-mbbank-cover-vippro.jpg">
											</picture>
										</a><div class="card-body blog-card-title p-0 imt-3">
											<h2 class="card-title text-start im-xl-3">
												<a class="text-rich-grey" target="_blank" href="https://itviec.com/blog/baas-by-mbbank/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost%20?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">BaaS By MBBank: Dẫn đầu thị trường với thế mạnh vượt trội </a>
											</h2>
											<p class="card-text im-xl-3 imb-5 paragraph text-start text-rich-grey opacity-75 text-clamp-3">
												Cùng tìm hiểu về BaaS by MBBank qua góc nhìn chuyên gia. Không chỉ là giải pháp hàng đầu với 1.200+ API mà còn là cầu nối tạo dựng hệ sinh thái đối tác đa dạng, lấy khách hàng làm trung tâm.
											</p>
										</div>
										<div class="card-body blog-card-link d-none d-xl-flex align-items-end">
											<a target="_blank" href="https://itviec.com/blog/baas-by-mbbank/?utm_source=itviec.com&amp;utm_medium=footer&amp;utm_campaign=featuredpost ?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
												<div class="hyperlink d-flex align-items-center">
													Bắt đầu đọc
													<svg class="feather-icon icon-md">
														<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
													</svg>

												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-pagination-blog text-center imb-4 imb-xl-0 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
					</div>

				</div>
				<div class="col-12 col-xl-6 blog-others">
					<div class="row blog-other im-0">
						<!-- Last updated: "2025-01-10 20:00:57 +0700"-->
						<div class="col-12 col-xl-6 blog-item imb-xl-7">
							<div class="card blog-card ip-xl-0 ipy-4">
								<a target="_blank" href="https://itviec.com/blog/cau-hoi-phong-van-sql?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOWtRVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3e3768e20d4f1c508c6a934a967d853c08977083/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/cau-hoi-phong-van-sql-vippro.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOWtRVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3e3768e20d4f1c508c6a934a967d853c08977083/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/cau-hoi-phong-van-sql-vippro.jpg">
										<img class="w-100 blog-card-image lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOWtRVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3e3768e20d4f1c508c6a934a967d853c08977083/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/cau-hoi-phong-van-sql-vippro.jpg" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOWtRVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--3e3768e20d4f1c508c6a934a967d853c08977083/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/cau-hoi-phong-van-sql-vippro.jpg">
									</picture>
								</a><div class="card-body blog-card-title ip-0 imt-0 text-start">
									<h2 class="card-title normal-text im-xl-4 imb-0">
										<a class="text-rich-grey text-clamp-2" target="_blank" href="https://itviec.com/blog/cau-hoi-phong-van-sql?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">Top 30+ câu hỏi phỏng vấn SQL phổ biến nhất</a>
									</h2>
								</div>
								<div class="card-body blog-card-link d-none d-xl-flex align-items-end ipy-xl-0 ipx-xl-4 imb-xl-6">
									<a class="hyperlink" target="_blank" href="https://itviec.com/blog/cau-hoi-phong-van-sql?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">Bắt đầu đọc</a>
									<span class="d-flex align-items-center hyperlink">
										<svg class="feather-icon icon-md">
											<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
										</svg>

									</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-xl-6 blog-item imb-xl-7">
							<div class="card blog-card ip-xl-0 ipy-4">
								<a target="_blank" href="https://itviec.com/blog/tang-hieu-suat-doi-ngu-phat-trien?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBODRHVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f01c2bc29d8a3d58240aaeaedb5caa66e436e5da/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/findy-itviec-development-team-thumbnail-2-vippro.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBODRHVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f01c2bc29d8a3d58240aaeaedb5caa66e436e5da/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/findy-itviec-development-team-thumbnail-2-vippro.jpg">
										<img class="w-100 blog-card-image lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBODRHVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f01c2bc29d8a3d58240aaeaedb5caa66e436e5da/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/findy-itviec-development-team-thumbnail-2-vippro.jpg" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBODRHVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--f01c2bc29d8a3d58240aaeaedb5caa66e436e5da/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/findy-itviec-development-team-thumbnail-2-vippro.jpg">
									</picture>
								</a><div class="card-body blog-card-title ip-0 imt-0 text-start">
									<h2 class="card-title normal-text im-xl-4 imb-0">
										<a class="text-rich-grey text-clamp-2" target="_blank" href="https://itviec.com/blog/tang-hieu-suat-doi-ngu-phat-trien?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">“Developer không thích bị quản lý” và Bài toán tối ưu năng suất đội ngũ phát triển</a>
									</h2>
								</div>
								<div class="card-body blog-card-link d-none d-xl-flex align-items-end ipy-xl-0 ipx-xl-4 imb-xl-6">
									<a class="hyperlink" target="_blank" href="https://itviec.com/blog/tang-hieu-suat-doi-ngu-phat-trien?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">Bắt đầu đọc</a>
									<span class="d-flex align-items-center hyperlink">
										<svg class="feather-icon icon-md">
											<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
										</svg>

									</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-xl-6 blog-item imb-xl-7">
							<div class="card blog-card ip-xl-0 ipy-4">
								<a target="_blank" href="https://itviec.com/blog/development-team-enhancing-productivity?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBODBHVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--9d5fc05e77e5cacba4434365a7a89ff207396d45/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/findy-itviec-development-team-thumbnail-vippro.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBODBHVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--9d5fc05e77e5cacba4434365a7a89ff207396d45/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/findy-itviec-development-team-thumbnail-vippro.jpg">
										<img class="w-100 blog-card-image lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBODBHVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--9d5fc05e77e5cacba4434365a7a89ff207396d45/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/findy-itviec-development-team-thumbnail-vippro.jpg" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBODBHVmc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--9d5fc05e77e5cacba4434365a7a89ff207396d45/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/findy-itviec-development-team-thumbnail-vippro.jpg">
									</picture>
								</a><div class="card-body blog-card-title ip-0 imt-0 text-start">
									<h2 class="card-title normal-text im-xl-4 imb-0">
										<a class="text-rich-grey text-clamp-2" target="_blank" href="https://itviec.com/blog/development-team-enhancing-productivity?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">“Developers do not like to be managed” and The challenge lies in enhancing productivity</a>
									</h2>
								</div>
								<div class="card-body blog-card-link d-none d-xl-flex align-items-end ipy-xl-0 ipx-xl-4 imb-xl-6">
									<a class="hyperlink" target="_blank" href="https://itviec.com/blog/development-team-enhancing-productivity?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">Bắt đầu đọc</a>
									<span class="d-flex align-items-center hyperlink">
										<svg class="feather-icon icon-md">
											<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
										</svg>

									</span>
								</div>
							</div>
						</div>
						<div class="col-12 col-xl-6 blog-item imb-xl-7">
							<div class="card blog-card ip-xl-0 ipy-4">
								<a target="_blank" href="https://itviec.com/blog/baas-by-mbbank?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeFBLVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--c528fe5e8b257d4015bb154568f22993ba832ee8/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/baas-by-mbbank-cover-vippro-scaled.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeFBLVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--c528fe5e8b257d4015bb154568f22993ba832ee8/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFwSUNNQT09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--d4dc962f8dfd42219a41803be77916f56a123c1e/baas-by-mbbank-cover-vippro-scaled.jpg">
										<img class="w-100 blog-card-image lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeFBLVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--c528fe5e8b257d4015bb154568f22993ba832ee8/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/baas-by-mbbank-cover-vippro-scaled.jpg" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeFBLVlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--c528fe5e8b257d4015bb154568f22993ba832ee8/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtDa2dJdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--0d0971c472f8c38d24f257fd923ba9aed334bd75/baas-by-mbbank-cover-vippro-scaled.jpg">
									</picture>
								</a><div class="card-body blog-card-title ip-0 imt-0 text-start">
									<h2 class="card-title normal-text im-xl-4 imb-0">
										<a class="text-rich-grey text-clamp-2" target="_blank" href="https://itviec.com/blog/baas-by-mbbank?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">BaaS by MBBank: Dấu ấn chuyển đổi số mạnh mẽ với triết lý lấy khách hàng làm trung tâm</a>
									</h2>
								</div>
								<div class="card-body blog-card-link d-none d-xl-flex align-items-end ipy-xl-0 ipx-xl-4 imb-xl-6">
									<a class="hyperlink" target="_blank" href="https://itviec.com/blog/baas-by-mbbank?itm_campaign=featuredpost&amp;itm_medium=footer&amp;itm_source=itviec.com">Bắt đầu đọc</a>
									<span class="d-flex align-items-center hyperlink">
										<svg class="feather-icon icon-md">
											<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
										</svg>

									</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<a class="d-flex d-xl-none justify-content-center align-items-center hyperlink imt-3 imb-6" href="https://itviec.com/blog/">
					Xem tất cả
					<svg class="feather-icon icon-md">
						<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
					</svg>

				</a>
			</div>
		</section>

	</div>
</div>