<footer class="footer ipt-xl-12 ipx-xl-5 position-relative">
	<div class="container-xxl p-0 imb-12" data-controller="footer">
		<div class="row d-flex justify-content-xl-between justify-content-center m-0 ipt-17 ipt-xl-0" id="accordionFooter">
			<div class="col-xl-3">
				<div class="footer-logo">
					<div class="footer-slogan mx-auto ipt-2 text-xl-start text-center">
						<img height="50" class="logo-itviec" alt="logo-itviec" src="https://itviec.com/assets/logo-itviec-4492a2f2577a15a0a1d55444c21c0fa55810822b3b189fc689b450fb62ce0b5b.png">
						<p class="normal-text pe-none">Ít nhưng mà chất</p>
					</div>
					<div class="footer-logo-icons d-flex justify-content-xl-start justify-content-center imt-8">
						<a target="_blank" href="https://www.linkedin.com/company/itviec/">
							<div class="icon rounded-circle d-flex justify-content-center align-items-center ime-4">
								<i class="feather-icon icon-md" data-feather="linkedin"></i>
							</div>
						</a><a target="_blank" href="https://www.facebook.com/ITviec/">
							<div class="icon rounded-circle d-flex justify-content-center align-items-center ime-4">
								<i class="feather-icon icon-md" data-feather="facebook"></i>
							</div>
						</a><a target="_blank" href="https://www.youtube.com/itviec">
							<div class="icon rounded-circle d-flex justify-content-center align-items-center">
								<i class="feather-icon icon-md" data-feather="youtube"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-xl-2 ipx-5 ipx-xl-0 z-1">
				<h4 aria-controls="about" class="footer-header text-silver-grey footer-accordion accordion-button bg-transparent" data-bs-target="#about" data-bs-toggle="collapse" aria-expanded="true">
					Về ITviec
				</h4>
				<div class="accordion-collapse collapse show" data-bs-parent="#accordionFooter" id="about" style="">
					<div class="accordion-body d-flex flex-column small-text imx-xl-0">
						<span>
							<a data-controller="utm-tracking" href="/vi">Trang Chủ</a>
						</span>
						<span>
							<a target="_blank" rel="canonical" data-controller="utm-tracking" href="/ve-itviec">Về ITviec.com</a>
						</span>
						<span>
							<a target="_blank" rel="canonical" data-controller="utm-tracking" href="/dich-vu-goi-y-ung-vien">Dịch vụ gợi ý ứng viên</a>
						</span>
						<span>
							<a target="_blank" rel="canonical" data-controller="utm-tracking" href="/lien-he">Liên Hệ</a>
						</span>
						<span>
							<a data-controller="utm-tracking" href="/viec-lam-it">Việc Làm IT</a>
						</span>
						<span>
							<a target="_blank" rel="canonical" href="https://itviec.com/blog/faq-cac-cau-hoi-thuong-gap/">Câu hỏi thường gặp</a>
						</span>
					</div>
				</div>
			</div>
			<div class="col-12 col-xl-2 ipx-5 ipx-xl-0 z-1">
				<h4 aria-controls="campaign" class="footer-header text-silver-grey footer-accordion accordion-button bg-transparent collapsed" data-bs-target="#campaign" data-bs-toggle="collapse" aria-expanded="false">
					Chương trình
				</h4>
				<div class="accordion-collapse collapse" data-bs-parent="#accordionFooter" id="campaign" style="">
					<div class="accordion-body d-flex flex-column small-text imx-xl-0">
						<span>
							<a target="_blank" data-controller="utm-tracking" href="/chuyen-it">Chuyện IT</a>
						</span>
						<span>
							<a target="_blank" rel="canonical" data-controller="utm-tracking" href="/cuoc-thi-viet">Cuộc thi viết</a>
						</span>
						<span>
							<a target="_blank" rel="canonical" data-controller="utm-tracking" href="/viec-lam-it-noi-bat-tai-chinh-ngan-hang-2024">Việc làm IT nổi bật</a>
						</span>
						<span>
							<a target="_blank" data-controller="utm-tracking" href="/khao-sat">Khảo sát thường niên</a>
						</span>
					</div>
				</div>
			</div>
			<div class="col-12 col-xl-2 ipx-5 ipx-xl-0 z-1">
				<h4 aria-controls="policy" class="footer-header text-silver-grey footer-accordion accordion-button collapsed bg-transparent" data-bs-target="#policy" data-bs-toggle="collapse" aria-expanded="false">
					Điều khoản chung
				</h4>
				<div class="accordion-collapse collapse" data-bs-parent="#accordionFooter" id="policy">
					<div class="accordion-body d-flex flex-column small-text imx-xl-0">
						<span>
							<a target="_blank" href="https://itviec.com/blog/quy-dinh-bao-mat/">Quy định bảo mật</a>
						</span>
						<span>
							<a target="_blank" href="https://itviec.com/blog/quy-che-hoat-dong-cua-itviec/">Quy chế hoạt động</a>
						</span>
						<span>
							<a target="_blank" href="https://itviec.com/blog/chinh-sach-giai-quyet-khieu-nai/">Giải quyết khiếu nại</a>
						</span>
						<span>
							<a target="_blank" href="https://itviec.com/blog/terms-conditions-vn/">Thoả thuận sử dụng</a>
						</span>
						<span>
							<a target="_blank" rel="canonical" href="https://itviec.com/blog/press/">Thông cáo báo chí</a>
						</span>
					</div>
				</div>
			</div>
			<div class="col-12 col-xl-3 p-0">
				<h4 class="footer-header imx-xl-0 imx-5 text-silver-grey ipy-4 pe-none">
					Liên hệ để đăng tin tuyển dụng tại:
				</h4>
				<div class="d-flex flex-column imx-xl-0 imx-5 small-text text-dark-grey">
					<div class="d-flex align-items-center ipb-3 pe-none">
						<i class="feather-icon icon-sm" data-feather="phone-call"></i>

						<p class="ims-2">Hồ Chí Minh: (+84) 977 460 519</p>
					</div>
					<div class="d-flex align-items-center ipb-3 pe-none">
						<i class="feather-icon icon-sm" data-feather="phone-call"></i>

						<p class="ims-2">Hà Nội: (+84) 983 131 351</p>
					</div>
					<div class="d-flex align-items-center ipb-3 pe-none">
						<i class="feather-icon icon-sm" data-feather="mail"></i>

						<p class="ims-2"> Email: love@itviec.com</p>
					</div>
					<div class="d-flex align-items-center ipb-3">
						<i class="feather-icon icon-sm" data-feather="send"></i>

						<p class="ims-2 z-1">
							<a target="_blank" href="/contact-form">Gửi thông tin liên hệ</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="my-0 opacity-25">
	<div class="container-xxl p-0 ipy-5 d-flex justify-content-center footer-copyright">
		<p class="normal-text tiny-text text-dark-grey ipe-4">Copyright © IT VIEC JSC</p>
		<p class="footer-copyright-line imt-1"></p>
		<p class="normal-text tiny-text text-dark-grey ips-4">MST: 0312192258</p>
	</div>
	<div class="footer-image position-absolute end-0 bottom-0">
		<img class="w-100 h-100" src="https://itviec.com/assets/footer-image-35f866330436404820ee462153a6b32edebdbdd90869eedacf2205b45fcc9f4a.svg" />
	</div>

</footer>