<div class="main">
	<div class="icontainer">
		<section class="imb-14 imb-xl-22">
			<div class="h1 ipb-12 text-it-black text-center">
				Nhà tuyển dụng hàng đầu
			</div>
			<div class="row d-flex flex-column flex-xl-row flex-wrap justify-content-center align-items-center top-employers-container">
				<a class="col col-xl-4 hyperlink positive-relative employer-link ipx-3 ipb-6 ipb-xl-8" data-controller="utm-tracking employers--top-employer-impression" data-employers--top-employer-impression-target="topEmployer" data-employers--top-employer-impression-url-value="/top_employers/impressions" data-employers--top-employer-impression-employer-key-value="ee3b19b0-80bc-4822-af0b-e320abd46c11" rel="nofollow" data-method="put" href="/nha-tuyen-dung/skylab?locale=vi&amp;position=1&amp;track_action=Click+Hiring">
					<div class="top-employer-item d-flex flex-column justify-content-xl-between align-items-xl-center position-relative text-center">
						<div class="text-center top-employer">
							<div class="bg-circle position-absolute start-0 z-1">
								<img class="img-bg-card" src="https://itviec.com/assets/homepage/bg-top-emp-dbf208a6c6d014eb0e2aac10d0a397aac71694c28d5d23cb5709b613bf215fcb.svg">
							</div>
						</div>
						<div class="mx-auto border-radius-large box-shadow-dark bg-white top-employer-img imt-8 z-11">
							<picture>
								<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNTJmSkE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--37b052bf997ea594e6b3002343259f71a57cce9f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/image_2022_01_25T03_51_54_036Z.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNTJmSkE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--37b052bf997ea594e6b3002343259f71a57cce9f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/image_2022_01_25T03_51_54_036Z.png">
								<img alt="SkyLab Vietnam Small Logo" class="border-none border-radius-large position-relative ls-is-cached lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNTJmSkE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--37b052bf997ea594e6b3002343259f71a57cce9f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--79eee5883893a012786006950460867831e6f661/image_2022_01_25T03_51_54_036Z.png" height="160" width="160" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNTJmSkE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--37b052bf997ea594e6b3002343259f71a57cce9f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--79eee5883893a012786006950460867831e6f661/image_2022_01_25T03_51_54_036Z.png">
							</picture>
						</div>
						<div class="flex-grow-1 z-11 ipb-5 ipb-xl-0 imt-6">
							<div>
								<h3 class="text-black ipx-4 employer-name">SkyLab</h3>
								<div class="ipx-4 ipt-4">
									<div class="d-flex gap-2 flex-wrap justify-content-center">
										<div class="itag itag-md itag-light disabled">
											Linux
										</div>
										<div class="itag itag-md itag-light disabled">
											C++
										</div>
										<div class="itag itag-md itag-light disabled">
											Ruby on Rails
										</div>
										<div class="itag itag-md itag-light disabled">
											Database
										</div>
										<div class="itag itag-md itag-light disabled">
											Software Architect
										</div>
										<div class="itag itag-md itag-light disabled">
											Networking
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-light-grey top-employer-footer irounded-lg-bottom z-11">
							<div class="d-flex justify-content-center justify-content-xl-start align-items-center small-text text-rich-grey text-start ipb-3 ipb-xl-0">
								Ho Chi Minh
							</div>
							<div class="d-flex justify-content-center justify-content-xl-end align-items-center normal-text text-it-black top-employer-view-more">
								<span>
									<svg class="online-icon">
										<use xlink:href="#online_icon"></use>
									</svg>
								</span>
								11 Việc làm
								<svg class="feather-icon ips-1 icon-md">
									<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
								</svg>

							</div>
						</div>
					</div>
				</a><a class="col col-xl-4 hyperlink positive-relative employer-link ipx-3 ipb-6 ipb-xl-8" data-controller="utm-tracking employers--top-employer-impression" data-employers--top-employer-impression-target="topEmployer" data-employers--top-employer-impression-url-value="/top_employers/impressions" data-employers--top-employer-impression-employer-key-value="45438935-36c8-4dc2-9305-a0d3e6be4589" rel="nofollow" data-method="put" href="/nha-tuyen-dung/mb-bank?locale=vi&amp;position=2&amp;track_action=Click+Hiring">
					<div class="top-employer-item d-flex flex-column justify-content-xl-between align-items-xl-center position-relative text-center">
						<div class="text-center top-employer">
							<div class="bg-circle position-absolute start-0 z-1">
								<img class="img-bg-card" src="https://itviec.com/assets/homepage/bg-top-emp-dbf208a6c6d014eb0e2aac10d0a397aac71694c28d5d23cb5709b613bf215fcb.svg">
							</div>
						</div>
						<div class="mx-auto border-radius-large box-shadow-dark bg-white top-employer-img imt-8 z-11">
							<picture>
								<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMmZvSXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--88c82102b4c6782414b90e4077f75449b9789560/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/Logo%20MB%20he%20mau%20RGB%2001.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMmZvSXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--88c82102b4c6782414b90e4077f75449b9789560/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/Logo%20MB%20he%20mau%20RGB%2001.png">
								<img alt="MB Bank Vietnam Small Logo" class="border-none border-radius-large position-relative ls-is-cached lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMmZvSXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--88c82102b4c6782414b90e4077f75449b9789560/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--79eee5883893a012786006950460867831e6f661/Logo%20MB%20he%20mau%20RGB%2001.png" height="160" width="160" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMmZvSXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--88c82102b4c6782414b90e4077f75449b9789560/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--79eee5883893a012786006950460867831e6f661/Logo%20MB%20he%20mau%20RGB%2001.png">
							</picture>
						</div>
						<div class="flex-grow-1 z-11 ipb-5 ipb-xl-0 imt-6">
							<div>
								<h3 class="text-black ipx-4 employer-name">MB Bank</h3>
								<div class="ipx-4 ipt-4">
									<div class="d-flex gap-2 flex-wrap justify-content-center">
										<div class="itag itag-md itag-light disabled">
											Java
										</div>
										<div class="itag itag-md itag-light disabled">
											JavaScript
										</div>
										<div class="itag itag-md itag-light disabled">
											Golang
										</div>
										<div class="itag itag-md itag-light disabled">
											Oracle
										</div>
										<div class="itag itag-md itag-light disabled">
											AngularJS
										</div>
										<div class="itag itag-md itag-light disabled">
											ReactJS
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-light-grey top-employer-footer irounded-lg-bottom z-11">
							<div class="d-flex justify-content-center justify-content-xl-start align-items-center small-text text-rich-grey text-start ipb-3 ipb-xl-0">
								Ha Noi
							</div>
							<div class="d-flex justify-content-center justify-content-xl-end align-items-center normal-text text-it-black top-employer-view-more">
								<span>
									<svg class="online-icon">
										<use xlink:href="#online_icon"></use>
									</svg>
								</span>
								8 Việc làm
								<svg class="feather-icon ips-1 icon-md">
									<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
								</svg>

							</div>
						</div>
					</div>
				</a><a class="col col-xl-4 hyperlink positive-relative employer-link ipx-3 ipb-6 ipb-xl-8" data-controller="utm-tracking employers--top-employer-impression" data-employers--top-employer-impression-target="topEmployer" data-employers--top-employer-impression-url-value="/top_employers/impressions" data-employers--top-employer-impression-employer-key-value="e7ca62e8-8f8c-4432-be6a-bfbdafc3a34f" rel="nofollow" data-method="put" href="/nha-tuyen-dung/yoong?locale=vi&amp;position=3&amp;track_action=Click+Hiring">
					<div class="top-employer-item d-flex flex-column justify-content-xl-between align-items-xl-center position-relative text-center">
						<div class="text-center top-employer">
							<div class="bg-circle position-absolute start-0 z-1">
								<img class="img-bg-card" src="https://itviec.com/assets/homepage/bg-top-emp-dbf208a6c6d014eb0e2aac10d0a397aac71694c28d5d23cb5709b613bf215fcb.svg">
							</div>
						</div>
						<div class="mx-auto border-radius-large box-shadow-dark bg-white top-employer-img imt-8 z-11">
							<picture>
								<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOTZrU3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--dc56cc21c6f3ced2d1fdbe5da06123012c628f5a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/Group%201.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOTZrU3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--dc56cc21c6f3ced2d1fdbe5da06123012c628f5a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/Group%201.png">
								<img alt="YOONG Vietnam Small Logo" class="border-none border-radius-large position-relative ls-is-cached lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOTZrU3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--dc56cc21c6f3ced2d1fdbe5da06123012c628f5a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--79eee5883893a012786006950460867831e6f661/Group%201.png" height="160" width="160" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOTZrU3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--dc56cc21c6f3ced2d1fdbe5da06123012c628f5a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--79eee5883893a012786006950460867831e6f661/Group%201.png">
							</picture>
						</div>
						<div class="flex-grow-1 z-11 ipb-5 ipb-xl-0 imt-6">
							<div>
								<h3 class="text-black ipx-4 employer-name">YOONG</h3>
								<div class="ipx-4 ipt-4">
									<div class="d-flex gap-2 flex-wrap justify-content-center">
										<div class="itag itag-md itag-light disabled">
											.NET
										</div>
										<div class="itag itag-md itag-light disabled">
											Java
										</div>
										<div class="itag itag-md itag-light disabled">
											Golang
										</div>
										<div class="itag itag-md itag-light disabled">
											Cloud
										</div>
										<div class="itag itag-md itag-light disabled">
											VueJS
										</div>
										<div class="itag itag-md itag-light disabled">
											Blockchain
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-light-grey top-employer-footer irounded-lg-bottom z-11">
							<div class="d-flex justify-content-center justify-content-xl-start align-items-center small-text text-rich-grey text-start ipb-3 ipb-xl-0">
								Ho Chi Minh
							</div>
							<div class="d-flex justify-content-center justify-content-xl-end align-items-center normal-text text-it-black top-employer-view-more">
								<span>
									<svg class="online-icon">
										<use xlink:href="#online_icon"></use>
									</svg>
								</span>
								5 Việc làm
								<svg class="feather-icon ips-1 icon-md">
									<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
								</svg>

							</div>
						</div>
					</div>
				</a><a class="col col-xl-4 hyperlink positive-relative employer-link ipx-3 ipb-6 ipb-xl-8" data-controller="utm-tracking employers--top-employer-impression" data-employers--top-employer-impression-target="topEmployer" data-employers--top-employer-impression-url-value="/top_employers/impressions" data-employers--top-employer-impression-employer-key-value="7e03af8b-4f81-4103-8298-6f5fb05bdbb6" rel="nofollow" data-method="put" href="/nha-tuyen-dung/hitachi-digital-services?locale=vi&amp;position=4&amp;track_action=Click+Hiring">
					<div class="top-employer-item d-flex flex-column justify-content-xl-between align-items-xl-center position-relative text-center">
						<div class="text-center top-employer">
							<div class="bg-circle position-absolute start-0 z-1">
								<img class="img-bg-card" src="https://itviec.com/assets/homepage/bg-top-emp-dbf208a6c6d014eb0e2aac10d0a397aac71694c28d5d23cb5709b613bf215fcb.svg">
							</div>
						</div>
						<div class="mx-auto border-radius-large box-shadow-dark bg-white top-employer-img imt-8 z-11">
							<picture>
								<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMzNkUGc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a4ae8f01daaa02a0bcc2affea52053f65c58e138/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/Hitachi-Shield-Mark-Red-White-Background-200x200.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMzNkUGc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a4ae8f01daaa02a0bcc2affea52053f65c58e138/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/Hitachi-Shield-Mark-Red-White-Background-200x200.png">
								<img alt="Hitachi Digital Services Vietnam Small Logo" class="border-none border-radius-large position-relative ls-is-cached lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMzNkUGc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a4ae8f01daaa02a0bcc2affea52053f65c58e138/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--79eee5883893a012786006950460867831e6f661/Hitachi-Shield-Mark-Red-White-Background-200x200.png" height="160" width="160" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMzNkUGc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a4ae8f01daaa02a0bcc2affea52053f65c58e138/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--79eee5883893a012786006950460867831e6f661/Hitachi-Shield-Mark-Red-White-Background-200x200.png">
							</picture>
						</div>
						<div class="flex-grow-1 z-11 ipb-5 ipb-xl-0 imt-6">
							<div>
								<h3 class="text-black ipx-4 employer-name">Hitachi Digital Services</h3>
								<div class="ipx-4 ipt-4">
									<div class="d-flex gap-2 flex-wrap justify-content-center">
										<div class="itag itag-md itag-light disabled">
											C++
										</div>
										<div class="itag itag-md itag-light disabled">
											Python
										</div>
										<div class="itag itag-md itag-light disabled">
											DevOps
										</div>
										<div class="itag itag-md itag-light disabled">
											Java
										</div>
										<div class="itag itag-md itag-light disabled">
											Golang
										</div>
										<div class="itag itag-md itag-light disabled">
											Japanese
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-light-grey top-employer-footer irounded-lg-bottom z-11">
							<div class="d-flex justify-content-center justify-content-xl-start align-items-center small-text text-rich-grey text-start ipb-3 ipb-xl-0">
								Ho Chi Minh - Ha Noi - Da Nang
							</div>
							<div class="d-flex justify-content-center justify-content-xl-end align-items-center normal-text text-it-black top-employer-view-more">
								<span>
									<svg class="online-icon">
										<use xlink:href="#online_icon"></use>
									</svg>
								</span>
								4 Việc làm
								<svg class="feather-icon ips-1 icon-md">
									<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
								</svg>

							</div>
						</div>
					</div>
				</a><a class="col col-xl-4 hyperlink positive-relative employer-link ipx-3 ipb-6 ipb-xl-8" data-controller="utm-tracking employers--top-employer-impression" data-employers--top-employer-impression-target="topEmployer" data-employers--top-employer-impression-url-value="/top_employers/impressions" data-employers--top-employer-impression-employer-key-value="294eacec-9c27-4e82-9ebe-603b1b1d521a" rel="nofollow" data-method="put" href="/nha-tuyen-dung/persol-career-tech-studio-vietnam?locale=vi&amp;position=5&amp;track_action=Click+Hiring">
					<div class="top-employer-item d-flex flex-column justify-content-xl-between align-items-xl-center position-relative text-center">
						<div class="text-center top-employer">
							<div class="bg-circle position-absolute start-0 z-1">
								<img class="img-bg-card" src="https://itviec.com/assets/homepage/bg-top-emp-dbf208a6c6d014eb0e2aac10d0a397aac71694c28d5d23cb5709b613bf215fcb.svg">
							</div>
						</div>
						<div class="mx-auto border-radius-large box-shadow-dark bg-white top-employer-img imt-8 z-11">
							<picture>
								<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMENnTGc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--341216e11c566296e05835f54046c1a30a82cec3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/PERSOL%20LOGO.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMENnTGc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--341216e11c566296e05835f54046c1a30a82cec3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/PERSOL%20LOGO.jpg">
								<img alt="Persol Career Tech Studio Vietnam Vietnam Small Logo" class="border-none border-radius-large position-relative ls-is-cached lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMENnTGc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--341216e11c566296e05835f54046c1a30a82cec3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--89a7283b6fdfb4208cdc2b440a36613a6fae974c/PERSOL%20LOGO.jpg" height="160" width="160" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMENnTGc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--341216e11c566296e05835f54046c1a30a82cec3/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--89a7283b6fdfb4208cdc2b440a36613a6fae974c/PERSOL%20LOGO.jpg">
							</picture>
						</div>
						<div class="flex-grow-1 z-11 ipb-5 ipb-xl-0 imt-6">
							<div>
								<h3 class="text-black ipx-4 employer-name">Persol Career Tech Studio Vietnam</h3>
								<div class="ipx-4 ipt-4">
									<div class="d-flex gap-2 flex-wrap justify-content-center">
										<div class="itag itag-md itag-light disabled">
											.NET
										</div>
										<div class="itag itag-md itag-light disabled">
											TypeScript
										</div>
										<div class="itag itag-md itag-light disabled">
											Spring
										</div>
										<div class="itag itag-md itag-light disabled">
											AWS
										</div>
										<div class="itag itag-md itag-light disabled">
											Azure
										</div>
										<div class="itag itag-md itag-light disabled">
											Agile
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-light-grey top-employer-footer irounded-lg-bottom z-11">
							<div class="d-flex justify-content-center justify-content-xl-start align-items-center small-text text-rich-grey text-start ipb-3 ipb-xl-0">
								Ho Chi Minh
							</div>
							<div class="d-flex justify-content-center justify-content-xl-end align-items-center normal-text text-it-black top-employer-view-more">
								<span>
									<svg class="online-icon">
										<use xlink:href="#online_icon"></use>
									</svg>
								</span>
								5 Việc làm
								<svg class="feather-icon ips-1 icon-md">
									<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
								</svg>

							</div>
						</div>
					</div>
				</a><a class="col col-xl-4 hyperlink positive-relative employer-link ipx-3 ipb-6 ipb-xl-8" data-controller="utm-tracking employers--top-employer-impression" data-employers--top-employer-impression-target="topEmployer" data-employers--top-employer-impression-url-value="/top_employers/impressions" data-employers--top-employer-impression-employer-key-value="cc484d48-71bf-4352-adb7-63f699270957" rel="nofollow" data-method="put" href="/nha-tuyen-dung/hybrid-technologies?locale=vi&amp;position=6&amp;track_action=Click+Hiring">
					<div class="top-employer-item d-flex flex-column justify-content-xl-between align-items-xl-center position-relative text-center">
						<div class="text-center top-employer">
							<div class="bg-circle position-absolute start-0 z-1">
								<img class="img-bg-card" src="https://itviec.com/assets/homepage/bg-top-emp-dbf208a6c6d014eb0e2aac10d0a397aac71694c28d5d23cb5709b613bf215fcb.svg">
							</div>
						</div>
						<div class="mx-auto border-radius-large box-shadow-dark bg-white top-employer-img imt-8 z-11">
							<picture>
								<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNWpjRlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--6c522fb1d6bbcea4ecc14fa1b08837bde132d324/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/avatar-10-10.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNWpjRlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--6c522fb1d6bbcea4ecc14fa1b08837bde132d324/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/avatar-10-10.jpg">
								<img alt="Hybrid Technologies Vietnam Small Logo" class="border-none border-radius-large position-relative ls-is-cached lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNWpjRlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--6c522fb1d6bbcea4ecc14fa1b08837bde132d324/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--89a7283b6fdfb4208cdc2b440a36613a6fae974c/avatar-10-10.jpg" height="160" width="160" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNWpjRlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--6c522fb1d6bbcea4ecc14fa1b08837bde132d324/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--89a7283b6fdfb4208cdc2b440a36613a6fae974c/avatar-10-10.jpg">
							</picture>
						</div>
						<div class="flex-grow-1 z-11 ipb-5 ipb-xl-0 imt-6">
							<div>
								<h3 class="text-black ipx-4 employer-name">Hybrid Technologies</h3>
								<div class="ipx-4 ipt-4">
									<div class="d-flex gap-2 flex-wrap justify-content-center">
										<div class="itag itag-md itag-light disabled">
											Java
										</div>
										<div class="itag itag-md itag-light disabled">
											Bridge Engineer
										</div>
										<div class="itag itag-md itag-light disabled">
											Salesforce
										</div>
										<div class="itag itag-md itag-light disabled">
											PHP
										</div>
										<div class="itag itag-md itag-light disabled">
											Japanese
										</div>
										<div class="itag itag-md itag-light disabled">
											Project Manager
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-light-grey top-employer-footer irounded-lg-bottom z-11">
							<div class="d-flex justify-content-center justify-content-xl-start align-items-center small-text text-rich-grey text-start ipb-3 ipb-xl-0">
								Ho Chi Minh - Ha Noi - Da Nang
							</div>
							<div class="d-flex justify-content-center justify-content-xl-end align-items-center normal-text text-it-black top-employer-view-more">
								<span>
									<svg class="online-icon">
										<use xlink:href="#online_icon"></use>
									</svg>
								</span>
								5 Việc làm
								<svg class="feather-icon ips-1 icon-md">
									<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
								</svg>

							</div>
						</div>
					</div>
				</a><a class="col col-xl-4 hyperlink positive-relative employer-link ipx-3 ipb-6 ipb-xl-8" data-controller="utm-tracking employers--top-employer-impression" data-employers--top-employer-impression-target="topEmployer" data-employers--top-employer-impression-url-value="/top_employers/impressions" data-employers--top-employer-impression-employer-key-value="9b89ca75-78a4-4a58-a296-4a99c0565e3b" rel="nofollow" data-method="put" href="/nha-tuyen-dung/samsung-electronics-hcmc-ce-complex?locale=vi&amp;position=7&amp;track_action=Click+Hiring">
					<div class="top-employer-item d-flex flex-column justify-content-xl-between align-items-xl-center position-relative text-center">
						<div class="text-center top-employer">
							<div class="bg-circle position-absolute start-0 z-1">
								<img class="img-bg-card" src="https://itviec.com/assets/homepage/bg-top-emp-dbf208a6c6d014eb0e2aac10d0a397aac71694c28d5d23cb5709b613bf215fcb.svg">
							</div>
						</div>
						<div class="mx-auto border-radius-large box-shadow-dark bg-white top-employer-img imt-8 z-11">
							<picture>
								<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNExwVVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d7744196bd16a86ffa040b481baaa10bc4422430/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/232543545_4952746764742314_931267813861293740_n.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNExwVVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d7744196bd16a86ffa040b481baaa10bc4422430/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--bb0ebae071595ab1791dc0ad640ef70a76504047/232543545_4952746764742314_931267813861293740_n.jpg">
								<img alt="Samsung Electronics HCMC CE Complex Vietnam Small Logo" class="border-none border-radius-large position-relative ls-is-cached lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNExwVVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d7744196bd16a86ffa040b481baaa10bc4422430/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--89a7283b6fdfb4208cdc2b440a36613a6fae974c/232543545_4952746764742314_931267813861293740_n.jpg" height="160" width="160" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNExwVVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d7744196bd16a86ffa040b481baaa10bc4422430/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--89a7283b6fdfb4208cdc2b440a36613a6fae974c/232543545_4952746764742314_931267813861293740_n.jpg">
							</picture>
						</div>
						<div class="flex-grow-1 z-11 ipb-5 ipb-xl-0 imt-6">
							<div>
								<h3 class="text-black ipx-4 employer-name">Samsung Electronics HCMC CE Complex</h3>
								<div class="ipx-4 ipt-4">
									<div class="d-flex gap-2 flex-wrap justify-content-center">
										<div class="itag itag-md itag-light disabled">
											Embedded
										</div>
										<div class="itag itag-md itag-light disabled">
											Android
										</div>
										<div class="itag itag-md itag-light disabled">
											ReactJS
										</div>
										<div class="itag itag-md itag-light disabled">
											Python
										</div>
										<div class="itag itag-md itag-light disabled">
											OOP
										</div>
										<div class="itag itag-md itag-light disabled">
											C++
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bg-light-grey top-employer-footer irounded-lg-bottom z-11">
							<div class="d-flex justify-content-center justify-content-xl-start align-items-center small-text text-rich-grey text-start ipb-3 ipb-xl-0">
								Ho Chi Minh
							</div>
							<div class="d-flex justify-content-center justify-content-xl-end align-items-center normal-text text-it-black top-employer-view-more">
								<span>
									<svg class="online-icon">
										<use xlink:href="#online_icon"></use>
									</svg>
								</span>
								10 Việc làm
								<svg class="feather-icon ips-1 icon-md">
									<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
								</svg>

							</div>
						</div>
					</div>
				</a>
			</div>
		</section>

	</div>
</div>