@using RecruitmentApp.Services
@inject HeaderService headerService

@{

    string key = ViewData["key"] as string ?? "";
    string province = ViewData["province"] as string;

    var provinces = headerService.GetMenuProvinces();

    var provinceSelectList = provinces.Select(p => new SelectListItem
            {
                Value = p.Slug,
                Text = p.Name,
                Selected = p.Slug == province
            }).ToList();

    var provinceSelected = provinceSelectList.FirstOrDefault(p => p.Selected);
    if (provinceSelected == null) {
        provinceSelected = provinceSelectList.Last();
    }

}

<div class="search-box">
    <form
          asp-area="User/Jobs"
          asp-controller="Job"
          asp-action="Search"
          asp-route-key=""
          method="get">
        <div class="d-flex flex-column flex-xl-row">
            <!-- / City -->
            <div class="search-city flex-shrink-0 imb-2 imb-xl-0 search-form-city-section">
                <select name="province"
                        id="city"
                        tabindex="-1"
                        class="" asp-items="@provinceSelectList">
                </select>
                
                <div class="map-pin-box position-absolute top-50 translate-middle-y z-1 pe-none">
                    <i data-feather="map-pin" class="feather-icon map-pin-icon"></i>
                </div>
				
                @*
                <div class="arrow-down-box position-absolute top-50 translate-middle-y z-1 pe-none">
					<i data-feather="chevron-down" class="feather-icon icon-lg"></i>
				</div>
                *@
            </div>
            <!-- / Keyword and Button -->
            <div class="d-flex flex-grow-1">
                <!-- / Keyword -->
                <div class="search-keyword w-100 imx-xl-3 position-relative search-form-keyword-section dropdown">
                    <input type="text"
                           name="key"
                           id="query"
                           maxlength="100"
                           class="form-control dropdown-toggle"
                           autocomplete="off"
                           value="@key"
                           placeholder="Nhập từ khoá theo kỹ năng, chức vụ, công ty..."/>
                    <div class="dropdown-menu w-100 ts-dropdown m-0"></div>
                    <a class="position-absolute clear-keyword d-none">
                        <i data-feather="x" class="feather-icon icon-md"> </i>
                    </a>
                </div>
                <!-- / Button -->
                <div class="flex-shrink-1">
                    <button class="ibtn ibtn-primary ibtn-search ifs-16 position-relative" type="submit">
                        <i data-feather="search" class="feather-icon icon-md"> </i>

                        <span class="d-none d-xl-inline">
                            Tìm Kiếm
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <!-- / Overlay -->
        <div class="search-overlay first-overlay"></div>
        <div class="search-overlay second-overlay z-1" data-action="click->search--autocomplete#closeOverlay"></div>
    </form>
</div>


