<div class="ipx-xl-40 ipx-5 position-relative bg-gradient-search">
    <div class="icontainer-search-form">
        <div class="search-box mx-auto ipt-12 ipb-16 ipy-md-16">
            <!-- / Header -->
            <h1 class="text-white ipb-8">
                @ViewData["totalPosts"] Việc làm IT
            </h1>
            <!-- / Search Form -->
			<partial name="_SearchBox" />
            <!-- / Popular skills -->
            <div class="d-flex igap-4 imt-7 flex-column flex-xl-row align-items-xl-center">
                <div class="text-silver-grey">
                    Gợi ý cho bạn:
                </div>
                <div class="d-flex flex-wrap igap-3">
                    <a class="itag itag-lg itag-light" href="/viec-lam-it/java/da-nang?click_source=Suggestion">Java</a>
                    <a class="itag itag-lg itag-light" href="/viec-lam-it/java/da-nang?click_source=Suggestion">.NET</a>
                    <a class="itag itag-lg itag-light" href="/viec-lam-it/java/da-nang?click_source=Suggestion">Python</a>
                </div>
            </div>
        </div>
    </div>
</div>
