<div class="main">
	<div class="icontainer">
		<section class="ipb-16 ipb-xl-20" data-controller="recommended-impressions" data-recommended-impressions-current-page-value="homepage" data-recommended-impressions-job-quantity-value="8" data-recommended-impressions-recommended-homepage-type-value="cookies_recommend_jobs" data-recommended-impressions-url-value="/job/recommended_impressions">
			<h1 class="ipb-9 text-center">
				104 Việc làm IT cho Developer "Chất"
			</h1>
			<div class="row recommended-jobs">
				<div class="col-xl-3 ipx-5 ipy-2 ip-xl-3">
					<div class="job-card ipt-4 h-100 d-flex flex-column box-shadow-medium border-radius-large position-relative cursor-pointer transition-duration-300 bg-white">
						<div class="ipx-4 ipx-xl-3 flex-grow-1">
							<div class="ilabel position-absolute ilabel-primary end-0">
								NEW FOR YOU
							</div>

							<div class="d-flex align-items-center justify-content-between">
								<span class="small-text text-dark-grey">
									Đăng
									4 giờ trước
								</span>
							</div>
							<h3 class="imt-3 text-it-black text-break text-clamp-2">
								<a class="text-reset text-hover-red transition-duration-300 stretched-link" target="_blank" data-controller="utm-tracking" href="/viec-lam-it/mid-senior-android-engineer-kotlin-java-english-smg-swiss-marketplace-group-3334?lab_feature=cookies_recommend_jobs">Mid/Senior Android Engineer (Kotlin / Java, English)</a>
							</h3>
							<div class="imy-2 d-flex align-items-center" data-recommended-impressions-target="jobImpression">
								<a data-controller="utm-tracking" class="job-card-logo border-solid box-shadow-normal border-radius-normal bg-white stretched-link position-relative" href="/nha-tuyen-dung/smg-swiss-marketplace-group?lab_feature=cookies_recommend_jobs">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBK0tzTlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--43a125572fbdd4221e6935d7abdaf40b8924c39e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/Profile%20Picture%20-%20SMG%20.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBK0tzTlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--43a125572fbdd4221e6935d7abdaf40b8924c39e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/Profile%20Picture%20-%20SMG%20.png">
										<img alt="SMG Swiss Marketplace Group Vietnam Small Logo" class="h-100 lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBK0tzTlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--43a125572fbdd4221e6935d7abdaf40b8924c39e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/Profile%20Picture%20-%20SMG%20.png" width="48" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBK0tzTlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--43a125572fbdd4221e6935d7abdaf40b8924c39e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/Profile%20Picture%20-%20SMG%20.png">
									</picture>
								</a><span class="ims-2 small-text">
									<a data-controller="utm-tracking" class="text-rich-grey text-clamp-2 text-hover-underline stretched-link position-relative" href="/nha-tuyen-dung/smg-swiss-marketplace-group?lab_feature=cookies_recommend_jobs">SMG Swiss Marketplace Group</a>
								</span>
							</div>
							<div class="fw-500">
								<div class="d-flex align-items-center salary text-rich-grey">
									<svg fill="none" height="16" stroke="currentColor" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
										<path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
										<circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
									</svg>

									<a data-controller="utm-tracking" class="sign-in-view-salary text-reset ips-2 text-decoration-underline stretched-link position-relative" href="/sign_in?job=mid-senior-android-engineer-kotlin-java-english-smg-swiss-marketplace-group-3334&amp;job_index=0&amp;view_salary_source=homepage">Đăng nhập để xem mức lương</a>
								</div>

							</div>
							<div class="border-top-dashed imy-3"></div>
							<div class="d-flex align-items-end imb-1">
								<span class="text-dark-grey lh-1">
									<svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_947_6633)">
											<path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
										</g>
										<defs>
											<clipPath id="clip0_947_6633">
												<rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
											</clipPath>
										</defs>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey lh-1">
									Linh hoạt
								</span>
							</div>
							<div class="d-flex align-items-center">
								<span class="text-dark-grey lh-1">
									<svg class="feather-icon icon-sm">
										<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#map-pin"></use>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey">
									Ho Chi Minh
								</span>
							</div>
							<div class="d-flex flex-wrap imt-3 imb-5 igap-2">
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/android?click_source=Skill+tag">Android</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/kotlin?click_source=Skill+tag">Kotlin</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/java?click_source=Skill+tag">Java</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xl-3 ipx-5 ipy-2 ip-xl-3">
					<div class="job-card ipt-4 h-100 d-flex flex-column box-shadow-medium border-radius-large position-relative cursor-pointer transition-duration-300 bg-light-warning-color super-hot">
						<div class="ipx-4 ipx-xl-3 flex-grow-1">
							<div class="ilabel position-absolute ilabel-primary end-0">
								NEW FOR YOU
							</div>

							<div class="d-flex align-items-center justify-content-between">
								<span class="small-text text-dark-grey">
									Đăng
									7 giờ trước
								</span>
							</div>
							<h3 class="imt-3 text-it-black text-break text-clamp-2">
								<a class="text-reset text-hover-red transition-duration-300 stretched-link" target="_blank" data-controller="utm-tracking" href="/viec-lam-it/principal-java-engineer-elca-5427?lab_feature=cookies_recommend_jobs">Principal Java Engineer</a>
							</h3>
							<div class="imy-2 d-flex align-items-center" data-recommended-impressions-target="jobImpression">
								<a data-controller="utm-tracking" class="job-card-logo border-solid box-shadow-normal border-radius-normal bg-white stretched-link position-relative" href="/nha-tuyen-dung/elca?lab_feature=cookies_recommend_jobs">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMGdvREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--49f107dff1850ed1ff3ede3c7e0a1b99659f1d83/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/elca-logo.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMGdvREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--49f107dff1850ed1ff3ede3c7e0a1b99659f1d83/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/elca-logo.jpg">
										<img alt="ELCA Vietnam Small Logo" class="h-100 lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMGdvREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--49f107dff1850ed1ff3ede3c7e0a1b99659f1d83/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--e064c7b4667a202bc74d582f9581c9a645d77ae5/elca-logo.jpg" width="48" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMGdvREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--49f107dff1850ed1ff3ede3c7e0a1b99659f1d83/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--e064c7b4667a202bc74d582f9581c9a645d77ae5/elca-logo.jpg">
									</picture>
								</a><span class="ims-2 small-text">
									<a data-controller="utm-tracking" class="text-rich-grey text-clamp-2 text-hover-underline stretched-link position-relative" href="/nha-tuyen-dung/elca?lab_feature=cookies_recommend_jobs">ELCA</a>
								</span>
							</div>
							<div class="fw-500">
								<div class="d-flex align-items-center salary text-rich-grey">
									<svg fill="none" height="16" stroke="currentColor" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
										<path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
										<circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
									</svg>

									<a data-controller="utm-tracking" class="sign-in-view-salary text-reset ips-2 text-decoration-underline stretched-link position-relative" href="/sign_in?job=principal-java-engineer-elca-5427&amp;job_index=1&amp;view_salary_source=homepage">Đăng nhập để xem mức lương</a>
								</div>

							</div>
							<div class="border-top-dashed imy-3"></div>
							<div class="d-flex align-items-end imb-1">
								<span class="text-dark-grey lh-1">
									<svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_947_6633)">
											<path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
										</g>
										<defs>
											<clipPath id="clip0_947_6633">
												<rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
											</clipPath>
										</defs>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey lh-1">
									Linh hoạt
								</span>
							</div>
							<div class="d-flex align-items-center">
								<span class="text-dark-grey lh-1">
									<svg class="feather-icon icon-sm">
										<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#map-pin"></use>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey">
									Ho Chi Minh
								</span>
							</div>
							<div class="d-flex flex-wrap imt-3 imb-5 igap-2">
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/java?click_source=Skill+tag">Java</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/javascript?click_source=Skill+tag">JavaScript</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/spring-boot?click_source=Skill+tag">Spring Boot</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xl-3 ipx-5 ipy-2 ip-xl-3">
					<div class="job-card ipt-4 h-100 d-flex flex-column box-shadow-medium border-radius-large position-relative cursor-pointer transition-duration-300 bg-light-warning-color super-hot">
						<div class="ipx-4 ipx-xl-3 flex-grow-1">
							<div class="ilabel position-absolute ilabel-primary end-0">
								NEW FOR YOU
							</div>

							<div class="d-flex align-items-center justify-content-between">
								<span class="small-text text-dark-grey">
									Đăng
									12 giờ trước
								</span>
							</div>
							<h3 class="imt-3 text-it-black text-break text-clamp-2">
								<a class="text-reset text-hover-red transition-duration-300 stretched-link" target="_blank" data-controller="utm-tracking" href="/viec-lam-it/senior-android-engineer-java-kotlin-android-sdk-vinbigdata-1053?lab_feature=cookies_recommend_jobs">Senior Android Engineer (Java, Kotlin, Android SDK)</a>
							</h3>
							<div class="imy-2 d-flex align-items-center" data-recommended-impressions-target="jobImpression">
								<a data-controller="utm-tracking" class="job-card-logo border-solid box-shadow-normal border-radius-normal bg-white stretched-link position-relative" href="/nha-tuyen-dung/vinbigdata?lab_feature=cookies_recommend_jobs">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeDU3U2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a3e5f2b4933b836f8e73b6a3089188771a070d3a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/MicrosoftTeams-image%20(5).png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeDU3U2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a3e5f2b4933b836f8e73b6a3089188771a070d3a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/MicrosoftTeams-image%20(5).png">
										<img alt="VINBIGDATA Vietnam Small Logo" class="h-100 lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeDU3U2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a3e5f2b4933b836f8e73b6a3089188771a070d3a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/MicrosoftTeams-image%20(5).png" width="48" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeDU3U2c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a3e5f2b4933b836f8e73b6a3089188771a070d3a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/MicrosoftTeams-image%20(5).png">
									</picture>
								</a><span class="ims-2 small-text">
									<a data-controller="utm-tracking" class="text-rich-grey text-clamp-2 text-hover-underline stretched-link position-relative" href="/nha-tuyen-dung/vinbigdata?lab_feature=cookies_recommend_jobs">VINBIGDATA</a>
								</span>
							</div>
							<div class="fw-500">
								<div class="d-flex align-items-center salary text-rich-grey">
									<svg fill="none" height="16" stroke="currentColor" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
										<path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
										<circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
									</svg>

									<a data-controller="utm-tracking" class="sign-in-view-salary text-reset ips-2 text-decoration-underline stretched-link position-relative" href="/sign_in?job=senior-android-engineer-java-kotlin-android-sdk-vinbigdata-1053&amp;job_index=2&amp;view_salary_source=homepage">Đăng nhập để xem mức lương</a>
								</div>

							</div>
							<div class="border-top-dashed imy-3"></div>
							<div class="d-flex align-items-end imb-1">
								<span class="text-dark-grey lh-1">
									<svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_947_6633)">
											<path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
										</g>
										<defs>
											<clipPath id="clip0_947_6633">
												<rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
											</clipPath>
										</defs>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey lh-1">
									Tại văn phòng
								</span>
							</div>
							<div class="d-flex align-items-center">
								<span class="text-dark-grey lh-1">
									<svg class="feather-icon icon-sm">
										<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#map-pin"></use>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey">
									Ha Noi
								</span>
							</div>
							<div class="d-flex flex-wrap imt-3 imb-5 igap-2">
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/android?click_source=Skill+tag">Android</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/kotlin?click_source=Skill+tag">Kotlin</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/java?click_source=Skill+tag">Java</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xl-3 ipx-5 ipy-2 ip-xl-3">
					<div class="job-card ipt-4 h-100 d-flex flex-column box-shadow-medium border-radius-large position-relative cursor-pointer transition-duration-300 bg-white">
						<div class="ipx-4 ipx-xl-3 flex-grow-1">
							<div class="ilabel position-absolute ilabel-primary end-0">
								NEW FOR YOU
							</div>

							<div class="d-flex align-items-center justify-content-between">
								<span class="small-text text-dark-grey">
									Đăng
									12 giờ trước
								</span>
							</div>
							<h3 class="imt-3 text-it-black text-break text-clamp-2">
								<a class="text-reset text-hover-red transition-duration-300 stretched-link" target="_blank" data-controller="utm-tracking" href="/viec-lam-it/full-stack-java-developer-middle-junior-pal-tech-3928?lab_feature=cookies_recommend_jobs">Full-stack Java Developer (Middle/Junior)</a>
							</h3>
							<div class="imy-2 d-flex align-items-center" data-recommended-impressions-target="jobImpression">
								<a data-controller="utm-tracking" class="job-card-logo border-solid box-shadow-normal border-radius-normal bg-white stretched-link position-relative" href="/nha-tuyen-dung/pal-tech?lab_feature=cookies_recommend_jobs">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeXd0REE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1205ed209e6966b48712fc8700e7019a168e36e2/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/pal-tech-logo.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeXd0REE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1205ed209e6966b48712fc8700e7019a168e36e2/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/pal-tech-logo.png">
										<img alt="PAL TECH Vietnam Small Logo" class="h-100 lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeXd0REE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1205ed209e6966b48712fc8700e7019a168e36e2/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/pal-tech-logo.png" width="48" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeXd0REE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1205ed209e6966b48712fc8700e7019a168e36e2/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/pal-tech-logo.png">
									</picture>
								</a><span class="ims-2 small-text">
									<a data-controller="utm-tracking" class="text-rich-grey text-clamp-2 text-hover-underline stretched-link position-relative" href="/nha-tuyen-dung/pal-tech?lab_feature=cookies_recommend_jobs">PAL TECH</a>
								</span>
							</div>
							<div class="fw-500">
								<div class="d-flex align-items-center salary text-rich-grey">
									<svg fill="none" height="16" stroke="currentColor" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
										<path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
										<circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
									</svg>

									<a data-controller="utm-tracking" class="sign-in-view-salary text-reset ips-2 text-decoration-underline stretched-link position-relative" href="/sign_in?job=full-stack-java-developer-middle-junior-pal-tech-3928&amp;job_index=3&amp;view_salary_source=homepage">Đăng nhập để xem mức lương</a>
								</div>

							</div>
							<div class="border-top-dashed imy-3"></div>
							<div class="d-flex align-items-end imb-1">
								<span class="text-dark-grey lh-1">
									<svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_947_6633)">
											<path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
										</g>
										<defs>
											<clipPath id="clip0_947_6633">
												<rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
											</clipPath>
										</defs>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey lh-1">
									Tại văn phòng
								</span>
							</div>
							<div class="d-flex align-items-center">
								<span class="text-dark-grey lh-1">
									<svg class="feather-icon icon-sm">
										<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#map-pin"></use>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey">
									Ho Chi Minh
								</span>
							</div>
							<div class="d-flex flex-wrap imt-3 imb-5 igap-2">
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/java?click_source=Skill+tag">Java</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/spring?click_source=Skill+tag">Spring</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/angular?click_source=Skill+tag">Angular</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xl-3 ipx-5 ipy-2 ip-xl-3">
					<div class="job-card ipt-4 h-100 d-flex flex-column box-shadow-medium border-radius-large position-relative cursor-pointer transition-duration-300 bg-white">
						<div class="ipx-4 ipx-xl-3 flex-grow-1">
							<div class="ilabel position-absolute ilabel-warning end-0">
								HOT
							</div>

							<div class="d-flex align-items-center justify-content-between">
								<span class="small-text text-dark-grey">
									Đăng
									1 ngày trước
								</span>
							</div>
							<h3 class="imt-3 text-it-black text-break text-clamp-2">
								<a class="text-reset text-hover-red transition-duration-300 stretched-link" target="_blank" data-controller="utm-tracking" href="/viec-lam-it/expert-senior-java-backend-developer-spring-sql-f88-4320?lab_feature=cookies_recommend_jobs">Expert/Senior Java Backend Developer (Spring, SQL)</a>
							</h3>
							<div class="imy-2 d-flex align-items-center" data-recommended-impressions-target="jobImpression">
								<a data-controller="utm-tracking" class="job-card-logo border-solid box-shadow-normal border-radius-normal bg-white stretched-link position-relative" href="/nha-tuyen-dung/f88?lab_feature=cookies_recommend_jobs">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeWdtVFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--8bbcac418b789405f72c9f7d8a8b353e252f229c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/Logo%20PNG.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeWdtVFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--8bbcac418b789405f72c9f7d8a8b353e252f229c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/Logo%20PNG.png">
										<img alt="F88 Vietnam Small Logo" class="h-100 lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeWdtVFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--8bbcac418b789405f72c9f7d8a8b353e252f229c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/Logo%20PNG.png" width="48" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBeWdtVFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--8bbcac418b789405f72c9f7d8a8b353e252f229c/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/Logo%20PNG.png">
									</picture>
								</a><span class="ims-2 small-text">
									<a data-controller="utm-tracking" class="text-rich-grey text-clamp-2 text-hover-underline stretched-link position-relative" href="/nha-tuyen-dung/f88?lab_feature=cookies_recommend_jobs">F88</a>
								</span>
							</div>
							<div class="fw-500">
								<div class="d-flex align-items-center salary text-rich-grey">
									<svg fill="none" height="16" stroke="currentColor" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
										<path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
										<circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
									</svg>

									<a data-controller="utm-tracking" class="sign-in-view-salary text-reset ips-2 text-decoration-underline stretched-link position-relative" href="/sign_in?job=expert-senior-java-backend-developer-spring-sql-f88-4320&amp;job_index=4&amp;view_salary_source=homepage">Đăng nhập để xem mức lương</a>
								</div>

							</div>
							<div class="border-top-dashed imy-3"></div>
							<div class="d-flex align-items-end imb-1">
								<span class="text-dark-grey lh-1">
									<svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_947_6633)">
											<path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
										</g>
										<defs>
											<clipPath id="clip0_947_6633">
												<rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
											</clipPath>
										</defs>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey lh-1">
									Tại văn phòng
								</span>
							</div>
							<div class="d-flex align-items-center">
								<span class="text-dark-grey lh-1">
									<svg class="feather-icon icon-sm">
										<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#map-pin"></use>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey">
									Ha Noi
								</span>
							</div>
							<div class="d-flex flex-wrap imt-3 imb-5 igap-2">
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/java?click_source=Skill+tag">Java</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/sql?click_source=Skill+tag">SQL</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/spring?click_source=Skill+tag">Spring</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xl-3 ipx-5 ipy-2 ip-xl-3">
					<div class="job-card ipt-4 h-100 d-flex flex-column box-shadow-medium border-radius-large position-relative cursor-pointer transition-duration-300 bg-light-warning-color super-hot">
						<div class="ipx-4 ipx-xl-3 flex-grow-1">
							<div class="ilabel position-absolute ilabel-danger end-0">
								<svg fill="none" height="15" viewBox="0 0 12 15" width="12" xmlns="http://www.w3.org/2000/svg">
									<path clip-rule="evenodd" d="M8.35103 7.22088C8.77945 5.51855 9.97941 4.56322 11.074 4.45661C9.84457 6.98536 12.8712 8.79743 11.1649 11.8192C10.2049 13.5193 8.33941 14.4836 6.25533 14.4997C0.303047 14.5458 -0.829202 8.4487 1.27822 4.29598C0.712659 8.76776 4.77576 8.50349 3.49039 5.62166C2.56746 3.55246 4.57378 0.432578 7.73614 0.50111C5.5579 3.61357 8.78633 4.4127 8.35103 7.22088Z" fill-rule="evenodd" fill="#FFDD85"></path>
								</svg>

								SUPER HOT
							</div>

							<div class="d-flex align-items-center justify-content-between">
								<span class="small-text text-dark-grey">
									Đăng
									1 ngày trước
								</span>
							</div>
							<h3 class="imt-3 text-it-black text-break text-clamp-2">
								<a class="text-reset text-hover-red transition-duration-300 stretched-link" target="_blank" data-controller="utm-tracking" href="/viec-lam-it/java-developer-spring-oop-up-to-2000-techcom-securities-3448?lab_feature=cookies_recommend_jobs">Java Developer (Spring, OOP) Up to $2000</a>
							</h3>
							<div class="imy-2 d-flex align-items-center" data-recommended-impressions-target="jobImpression">
								<a data-controller="utm-tracking" class="job-card-logo border-solid box-shadow-normal border-radius-normal bg-white stretched-link position-relative" href="/nha-tuyen-dung/techcom-securities?lab_feature=cookies_recommend_jobs">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFFwREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--39d5a7b8326e3a5f1c387eca35edcd77eb78d4aa/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/techcom-securities-logo.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFFwREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--39d5a7b8326e3a5f1c387eca35edcd77eb78d4aa/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/techcom-securities-logo.png">
										<img alt="Techcom Securities Vietnam Small Logo" class="h-100 lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFFwREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--39d5a7b8326e3a5f1c387eca35edcd77eb78d4aa/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/techcom-securities-logo.png" width="48" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFFwREE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--39d5a7b8326e3a5f1c387eca35edcd77eb78d4aa/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/techcom-securities-logo.png">
									</picture>
								</a><span class="ims-2 small-text">
									<a data-controller="utm-tracking" class="text-rich-grey text-clamp-2 text-hover-underline stretched-link position-relative" href="/nha-tuyen-dung/techcom-securities?lab_feature=cookies_recommend_jobs">Techcom Securities</a>
								</span>
							</div>
							<div class="fw-500">
								<div class="d-flex align-items-center salary text-rich-grey">
									<svg fill="none" height="16" stroke="currentColor" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
										<path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
										<circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
									</svg>

									<a data-controller="utm-tracking" class="sign-in-view-salary text-reset ips-2 text-decoration-underline stretched-link position-relative" href="/sign_in?job=java-developer-spring-oop-up-to-2000-techcom-securities-3448&amp;job_index=5&amp;view_salary_source=homepage">Đăng nhập để xem mức lương</a>
								</div>

							</div>
							<div class="border-top-dashed imy-3"></div>
							<div class="d-flex align-items-end imb-1">
								<span class="text-dark-grey lh-1">
									<svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_947_6633)">
											<path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
										</g>
										<defs>
											<clipPath id="clip0_947_6633">
												<rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
											</clipPath>
										</defs>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey lh-1">
									Tại văn phòng
								</span>
							</div>
							<div class="d-flex align-items-center">
								<span class="text-dark-grey lh-1">
									<svg class="feather-icon icon-sm">
										<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#map-pin"></use>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey">
									Ha Noi
								</span>
							</div>
							<div class="d-flex flex-wrap imt-3 imb-5 igap-2">
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/java?click_source=Skill+tag">Java</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/oop?click_source=Skill+tag">OOP</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/spring?click_source=Skill+tag">Spring</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xl-3 ipx-5 ipy-2 ip-xl-3">
					<div class="job-card ipt-4 h-100 d-flex flex-column box-shadow-medium border-radius-large position-relative cursor-pointer transition-duration-300 bg-white">
						<div class="ipx-4 ipx-xl-3 flex-grow-1">
							<div class="ilabel position-absolute ilabel-warning end-0">
								HOT
							</div>

							<div class="d-flex align-items-center justify-content-between">
								<span class="small-text text-dark-grey">
									Đăng
									2 ngày trước
								</span>
							</div>
							<h3 class="imt-3 text-it-black text-break text-clamp-2">
								<a class="text-reset text-hover-red transition-duration-300 stretched-link" target="_blank" data-controller="utm-tracking" href="/viec-lam-it/big-data-engineer-python-hadoop-pyspark-hcl-vietnam-company-limited-5232?lab_feature=cookies_recommend_jobs">Big Data Engineer (Python/Java/Hadoop)</a>
							</h3>
							<div class="imy-2 d-flex align-items-center" data-recommended-impressions-target="jobImpression">
								<a data-controller="utm-tracking" class="job-card-logo border-solid box-shadow-normal border-radius-normal bg-white stretched-link position-relative" href="/nha-tuyen-dung/hcl-vietnam-company-limited?lab_feature=cookies_recommend_jobs">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzBFTEE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d80b2532befaad660a67a0695a50ddd68a06d309/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/180x180.png" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzBFTEE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d80b2532befaad660a67a0695a50ddd68a06d309/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/180x180.png">
										<img alt="HCL Vietnam Company Limited Vietnam Small Logo" class="h-100 lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzBFTEE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d80b2532befaad660a67a0695a50ddd68a06d309/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/180x180.png" width="48" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzBFTEE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--d80b2532befaad660a67a0695a50ddd68a06d309/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/180x180.png">
									</picture>
								</a><span class="ims-2 small-text">
									<a data-controller="utm-tracking" class="text-rich-grey text-clamp-2 text-hover-underline stretched-link position-relative" href="/nha-tuyen-dung/hcl-vietnam-company-limited?lab_feature=cookies_recommend_jobs">HCL Vietnam Company Limited</a>
								</span>
							</div>
							<div class="fw-500">
								<div class="d-flex align-items-center salary text-rich-grey">
									<svg fill="none" height="16" stroke="currentColor" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
										<path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
										<circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
									</svg>

									<a data-controller="utm-tracking" class="sign-in-view-salary text-reset ips-2 text-decoration-underline stretched-link position-relative" href="/sign_in?job=big-data-engineer-python-hadoop-pyspark-hcl-vietnam-company-limited-5232&amp;job_index=6&amp;view_salary_source=homepage">Đăng nhập để xem mức lương</a>
								</div>

							</div>
							<div class="border-top-dashed imy-3"></div>
							<div class="d-flex align-items-end imb-1">
								<span class="text-dark-grey lh-1">
									<svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_947_6633)">
											<path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
										</g>
										<defs>
											<clipPath id="clip0_947_6633">
												<rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
											</clipPath>
										</defs>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey lh-1">
									Tại văn phòng
								</span>
							</div>
							<div class="d-flex align-items-center">
								<span class="text-dark-grey lh-1">
									<svg class="feather-icon icon-sm">
										<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#map-pin"></use>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey">
									Ho Chi Minh
								</span>
							</div>
							<div class="d-flex flex-wrap imt-3 imb-5 igap-2">
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/big-data?click_source=Skill+tag">Big Data</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/python?click_source=Skill+tag">Python</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/java?click_source=Skill+tag">Java</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xl-3 ipx-5 ipy-2 ip-xl-3">
					<div class="job-card ipt-4 h-100 d-flex flex-column box-shadow-medium border-radius-large position-relative cursor-pointer transition-duration-300 bg-light-warning-color super-hot">
						<div class="ipx-4 ipx-xl-3 flex-grow-1">
							<div class="ilabel position-absolute ilabel-danger end-0">
								<svg fill="none" height="15" viewBox="0 0 12 15" width="12" xmlns="http://www.w3.org/2000/svg">
									<path clip-rule="evenodd" d="M8.35103 7.22088C8.77945 5.51855 9.97941 4.56322 11.074 4.45661C9.84457 6.98536 12.8712 8.79743 11.1649 11.8192C10.2049 13.5193 8.33941 14.4836 6.25533 14.4997C0.303047 14.5458 -0.829202 8.4487 1.27822 4.29598C0.712659 8.76776 4.77576 8.50349 3.49039 5.62166C2.56746 3.55246 4.57378 0.432578 7.73614 0.50111C5.5579 3.61357 8.78633 4.4127 8.35103 7.22088Z" fill-rule="evenodd" fill="#FFDD85"></path>
								</svg>

								SUPER HOT
							</div>

							<div class="d-flex align-items-center justify-content-between">
								<span class="small-text text-dark-grey">
									Đăng
									3 ngày trước
								</span>
							</div>
							<h3 class="imt-3 text-it-black text-break text-clamp-2">
								<a class="text-reset text-hover-red transition-duration-300 stretched-link" target="_blank" data-controller="utm-tracking" href="/viec-lam-it/middle-java-developer-tpisoftware-co-ltd-0005?lab_feature=cookies_recommend_jobs">Middle Java Developer</a>
							</h3>
							<div class="imy-2 d-flex align-items-center" data-recommended-impressions-target="jobImpression">
								<a data-controller="utm-tracking" class="job-card-logo border-solid box-shadow-normal border-radius-normal bg-white stretched-link position-relative" href="/nha-tuyen-dung/tpisoftware-co-ltd?lab_feature=cookies_recommend_jobs">
									<picture>
										<source data-srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMEsyS3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--4b5cc18760ca6faffd873169d9cab5740dbf1b3a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/Logo.jpg" srcset="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMEsyS3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--4b5cc18760ca6faffd873169d9cab5740dbf1b3a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcGFXbHAiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--20b0435834affc851fb8b496383cefc8135158a8/Logo.jpg">
										<img alt="TPIsoftware Co., Ltd Vietnam Small Logo" class="h-100 lazyloaded" data-controller="lazyload" data-src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMEsyS3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--4b5cc18760ca6faffd873169d9cab5740dbf1b3a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/Logo.jpg" width="48" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMEsyS3c9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--4b5cc18760ca6faffd873169d9cab5740dbf1b3a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmxwYVdrPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--c8c20c63b868249effdba9ba4f05aa0c5b77cab3/Logo.jpg">
									</picture>
								</a><span class="ims-2 small-text">
									<a data-controller="utm-tracking" class="text-rich-grey text-clamp-2 text-hover-underline stretched-link position-relative" href="/nha-tuyen-dung/tpisoftware-co-ltd?lab_feature=cookies_recommend_jobs">TPIsoftware Co., Ltd</a>
								</span>
							</div>
							<div class="fw-500">
								<div class="d-flex align-items-center salary text-rich-grey">
									<svg fill="none" height="16" stroke="currentColor" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.0044 6V18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
										<path d="M14.9287 7.90332H10.5395C9.99625 7.90332 9.47527 8.11912 9.09114 8.50325C8.70701 8.88738 8.49121 9.40836 8.49121 9.9516C8.49121 10.4948 8.70701 11.0158 9.09114 11.4C9.47527 11.7841 9.99625 11.9999 10.5395 11.9999H13.4656C14.0088 11.9999 14.5298 12.2157 14.914 12.5998C15.2981 12.9839 15.5139 13.5049 15.5139 14.0482C15.5139 14.5914 15.2981 15.1124 14.914 15.4965C14.5298 15.8806 14.0088 16.0964 13.4656 16.0964H8.49121" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
										<circle cx="12.0002" cy="12.0002" r="9.3" stroke-width="2" stroke="currentColor"></circle>
									</svg>

									<a data-controller="utm-tracking" class="sign-in-view-salary text-reset ips-2 text-decoration-underline stretched-link position-relative" href="/sign_in?job=middle-java-developer-tpisoftware-co-ltd-0005&amp;job_index=7&amp;view_salary_source=homepage">Đăng nhập để xem mức lương</a>
								</div>

							</div>
							<div class="border-top-dashed imy-3"></div>
							<div class="d-flex align-items-end imb-1">
								<span class="text-dark-grey lh-1">
									<svg fill="none" height="16" viewBox="0 0 24 25" width="16" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_947_6633)">
											<path d="M19 14.625C19 13.6967 18.6312 12.8065 17.9749 12.1501C17.3185 11.4937 16.4283 11.125 15.5 11.125H8.5C7.57174 11.125 6.6815 11.4937 6.02513 12.1501C5.36875 12.8065 5 13.6967 5 14.625" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M12 8.5C13.933 8.5 15.5 6.933 15.5 5C15.5 3.067 13.933 1.5 12 1.5C10.067 1.5 8.5 3.067 8.5 5C8.5 6.933 10.067 8.5 12 8.5Z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M11.5 18.9375H12.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<path d="M4.56116 22.7812L2.90039 15.0938H21.0996L19.3696 22.7812" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"></path>
											<line stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" x1="1" x2="23" y1="23.5" y2="23.5"></line>
										</g>
										<defs>
											<clipPath id="clip0_947_6633">
												<rect fill="white" height="24" transform="translate(0 0.5)" width="24"></rect>
											</clipPath>
										</defs>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey lh-1">
									Tại văn phòng
								</span>
							</div>
							<div class="d-flex align-items-center">
								<span class="text-dark-grey lh-1">
									<svg class="feather-icon icon-sm">
										<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#map-pin"></use>
									</svg>

								</span>
								<span class="ips-2 small-text text-rich-grey">
									Ho Chi Minh
								</span>
							</div>
							<div class="d-flex flex-wrap imt-3 imb-5 igap-2">
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/java?click_source=Skill+tag">Java</a>
								</div>
								<div class="itag itag-light itag-sm position-relative">
									<a class="text-reset stretched-link" data-controller="utm-tracking" href="/viec-lam-it/english?click_source=Skill+tag">English</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="text-center imt-10">
				<a class="ibtn ibtn-md ibtn-secondary" data-controller="utm-tracking" data-disable-with="loading..." href="/viec-lam-it?newest=true&amp;query=java">
					Xem thêm 96 công việc khác
					<svg class="feather-icon icon-sm">
						<use href="https://itviec.com/assets/feather-icons-sprite-520cd3770a1002f7c87bd1ba253464228ad112abb4c34d81c8cda9f937487a49.svg#chevron-right"></use>
					</svg>

				</a>
			</div>
		</section>

	</div>
</div>