@inject IViewLocalizer Localizer


<partial name="_SearchForm" />

<div class="main bg-light-grey border-bottom campaign_highlight">
	<div class="icontainer">
		<div class="d-flex justify-content-center align-items-center ipy-4 ipy-xl-6">
			<img alt="campaign-icon" class="ime-4" src="~/images/icons/hot1.png"  width="24" height="24">
			<a data-controller="utm-tracking" target="_blank" rel="canonical" >
				<div class="d-flex align-items-center">
					<div class="d-xl-flex text-it-black normal-text ime-4 ime-xl-6">
						<div class="fw-bold">
							Khám phá Lời mời công việc
						</div>
						<div class="ims-xl-4">
							x2 tốc độ tìm việc và có cơ hội nhận lịch ITviec độc quyền!
						</div>
					</div>
					<i class="feather-icon icon-md text-it-red" data-feather="arrow-right-circle"></i>

				</div>
			</a>
		</div>
	</div>
</div>
<div class="main">
	<div class="icontainer">
		<section class="home-introduction-container imt-16 imb-20 imb-md-30 text-center">
			<div class="header-container mx-auto">
				<div class="h1">Công cụ tốt nhất cho hành trang ứng tuyển của bạn</div>
			</div>
			<div class="mx-auto body-container imt-12">
				<div class="order-xl-2 item-box-wrapper position-relative ipb-5 ipt-3 ipy-xl-0">
					<div class="d-flex flex-column flex-xl-row justify-content-center justify-content-xl-between align-items-center align-items-xl-start">
						<div class="d-flex align-items-start item-box-img-wrapper imb-3 imb-xl-0 mx-auto">
							<img alt="cv-template" src="~/images/icons/cv-template.svg" />
						</div>
						<div class="user-benefit-content-wrapper text-center text-xl-start ims-xl-4">
							<div class="d-inline-flex justify-content-center align-items-center">
								<h3>
									Mẫu CV
								</h3>
								<div class="ipx-2 ipy-1 bg-success-color text-white tiny-text irounded-sm ims-2">
									MỚI
								</div>
							</div>
							<p class="normal-text item-box-info text-rich-grey lh-18 imt-2">
								Nâng cấp CV với các mẫu CV IT chuyên nghiệp - được nhà tuyển dụng đề xuất
							</p>
							<form class="button_to" method="post">
								<button class="ibtn ibtn-sm ibtn-primary imt-6" type="submit">Xem mẫu CV</button>
								<input type="hidden" />
							</form>
						</div>
					</div>
					<div class="radial-gradient-box radial-gradient-box-left mx-auto"></div>
				</div>
				<div class="order-xl-1 item-box-wrapper position-relative ipb-4 ipt-3 ipy-xl-0">
					<div class="d-flex flex-column flex-xl-row justify-content-center justify-content-xl-between align-items-center align-items-xl-start">
						<div class="d-flex align-items-star item-box-img-wrapper imb-3 imb-xl-0 mx-auto">
							<img alt="user-profile" src="~/images/icons/user-profile.svg" />
						</div>
						<div class="user-benefit-content-wrapper text-center text-xl-start ims-xl-4">
							<h3>Hồ sơ cá nhân</h3>
							<p class="normal-text item-box-info text-rich-grey lh-18 imt-2">
								Kiến tạo hồ sơ ITviec với cấu trúc chuẩn mực cùng các gợi ý chi tiết
							</p>
							<form class="button_to" method="post">
								<button class="ibtn ibtn-sm ibtn-outline-primary imt-6" type="submit">
									Cập nhật hồ
									sơ
								</button>
								<input type="hidden" />
							</form>
						</div>
					</div>
					<div class="radial-gradient-box radial-gradient-box-right mx-auto"></div>
				</div>
				<div class="order-xl-3 ipt-3 ipt-xl-0">
					<div class="d-flex flex-column flex-xl-row justify-content-center justify-content-xl-between align-items-center align-items-xl-start">
						<div class="d-flex align-items-start item-box-img-wrapper imb-3 imb-xl-0 mx-auto">
							<img alt="blog" src="~/images/icons/blog.svg" />
						</div>
						<div class="user-benefit-content-wrapper text-center text-xl-start ims-xl-4">
							<h3>Blog về IT</h3>
							<p class="normal-text item-box-info text-rich-grey lh-18 imt-2">
								Cập nhật thông tin lương thưởng, nghề nghiệp và kiến thức ngành IT
							</p>
							<form class="button_to" method="post">
								<button class="ibtn ibtn-sm ibtn-outline-primary imt-6" type="submit">
									Khám phá blog
								</button>
								<input type="hidden" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>

<partial name="_Recruitment" />
<partial name="_TopJobs" />
<partial name="_Blogs" />