@inject AppDbContext _dbContext

@{
    var categories = _dbContext.BlogCategories.ToList();
}

<!-- start: #footer -->
<footer data-wpr-lazyrender="1" id="footer" class="fullwidth bg-gradient np-mobile ">
    <div class="grid-container">
        <div class="widgets row eq-width d-block-mobile">
            <div id="text-16" class="subscribe-form grid-33 mobile-grid-100 np-mobile widget widget_text">
                <div class="textwidget">
                    <p>
                        <img src="~/images/logo.png" height="auto" class="logo alignnone wp-image-20362 size-medium sp-no-webp w-100" alt="" decoding="async" />
                        <br>
                    </p>
                    <div class="wpcf7 js" id="wpcf7-f24418-o1" lang="en-US" dir="ltr" data-wpcf7-id="24418">
                        <div class="screen-reader-response">
                            <p role="status" aria-live="polite" aria-atomic="true"></p>
                            <ul></ul>
                        </div>
                    </div>
                    <p></p>
                </div>
                <div class="clear"></div>
            </div>
            <div id="text-17" class=" widget widget_text">
                <div class="textwidget">
                    <ul>
                    <li class="widget-title"><a >Việc làm IT</a></li>
                    <li><a asp-action="Index" asp-controller="Skill">Việc làm IT theo kỹ năng</a></li>
                    <li><a asp-action="Index" asp-controller="Title">Việc làm IT theo vị trí</a></li>
                    <li><a asp-action="Search" asp-controller="Job">Việc làm IT theo khu vực</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div id="text-18" class=" widget widget_text">
                <div class="textwidget">
                    <ul>
                        <li class="widget-title">
                            <a asp-action="Index" asp-controller="Blog">Blogs</a>
                        </li>
                        @foreach (var cate in categories)
                        {
                            <li>
                                <a asp-action="Category" asp-controller="Blog" asp-route-slug="@cate.Slug">@cate.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div id="text-20" class=" widget widget_text">
                <div class="textwidget">
                    <ul>
                        <li class="widget-title"><a asp-action="Index" asp-controller="Home">Về CareerHub</a></li>
                        <li>Liên hệ: <a href="mailto:">blog@itviec.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div
</footer>
