@inject AppDbContext _dbContext

@{
	var categories = _dbContext.BlogCategories.ToList();
}

<!-- start: #header -->
<header id="header" class="bg-gradient minimalist" style="height: 63.1px;">

	<!-- menu-mobile -->
	<!-- start: .menu-wrapper -->
	<div class="menu-wrapper">
		<div class="grid-container">

			<div class="logo">
				<a class="use-img-background aspect-ratio-box" asp-action="Index">
					<img src="~/images/logo.png" height="53.333333333333" width="160" class="sitelogo sp-no-webp" alt="Blog">
				</a>
			</div>

			<div class="navigation">
				<!-- start: .main-nav -->
				<nav class="main-nav">
					<ul id="menu-header-menu-2022" class="menu">
						
						@foreach (var cate in categories)
						{
							<li id="menu-item-24525" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24525">
								<a asp-action="Category" asp-controller="Blog" asp-route-slug="@cate.Slug">@cate.Name</a>
							</li>

						}
					</ul>
				</nav>
				<!-- end: .main-nav -->
				<div class="menu-mobile">
					<span class="d-block">
						<i class="icon-lg" data-feather="menu"></i>
					</span>
					<span class="d-none">
						<i class="icon-lg" data-feather="x"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- end: .menu-wrapper -->

</header>
<!-- end: #header -->
