<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="~/images/network.ico" />


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap"
		  rel="stylesheet">
	<title>@ViewData["Title"] - RecruitmentApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tocbot@4.18.2/dist/tocbot.css">
	<link rel="stylesheet" href="~/css/blogs.css" />
</head>

<body>
	<partial name="_Loading" />

	<div id="wrapper">

		<partial name="_Header" />

		@RenderBody()

		<partial name="_Footer" />

	</div>
	<script src="/_framework/aspnetcore-browser-refresh.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/tocbot@4.18.2/dist/tocbot.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<partial name="_ValidationScriptsPartial" />
	<script src="~/lib/feather-icons/feather.js"></script>

	<script src="~/js/_Loading.js" asp-append-version="true"></script>

	<script>
		feather.replace();
		$(document).ready(function () {
				 $('.menu-mobile').on('click', function () {
			$('#header').toggleClass('menu-open');

			var $spans = $(this).find('span');

			if ($('#header').hasClass('menu-open')) {
				$spans.eq(0).removeClass('d-block').addClass('d-none');
				$spans.eq(1).removeClass('d-none').addClass('d-block');
			} else {
				$spans.eq(1).removeClass('d-block').addClass('d-none');
				$spans.eq(0).removeClass('d-none').addClass('d-block'); 
			}
		});

		});
	</script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>


