@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
}

<div class="row mt-4">
   <div class="col">
        <h2>@ViewData["Title"].</h2>
        <p>
            Kiểm tra email để lấy lại mật khẩu.
        </p>
    </div>
</div>
