@model BlogViewModel

@{
    var Content = new RecruitmentApp.Models.Summernote("#Content");
    Content.Height = 400;
}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Blogs</li>
        <li class="breadcrumb-item active" aria-current="page"><a href="">Create</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="font-weight-bold">Tạo mới bài viết</h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <textarea asp-for="Content" class="form-control" rows="6"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>

                     
                        <div class="form-group">
                            <label asp-for="ThumbnailImage" class="control-label">Tải ảnh mới</label>
                            <input asp-for="ThumbnailImage" type="file" class="form-control" accept="image/*" />
                            <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label">Danh mục</label>
                            <select asp-for="CategoryId" asp-items="@Model.Categories" class="form-control"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="form-check form-check-flat form-check-primary">
                                <label asp-for="IsPublished" class="form-check-label">
                                  
                                    <input asp-for="IsPublished" class="form-check-input" />
                                    <i class="input-frame"></i>
                                    @Html.DisplayNameFor(m => m.IsPublished)
                                </label>
                            </div>
                            <span class="text-danger field-validation-valid" asp-validation-for="IsPublished"></span>
                        </div>

                        <div class="form-group d-flex gap-2 mt-4">
                            <button type="submit" class="btn btn-primary align-items-center mr-2">
                                <i data-feather="plus" class="mr-1 icon-md"></i> Tạo mới
                            </button>
                            <a asp-action="Index" class="btn btn-outline-secondary d-inline-flex align-items-center">
                                <i data-feather="x" class="mr-1 icon-md"></i> Hủy
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<a asp-action="Index" class="btn btn-sm btn-outline-secondary d-inline-flex align-items-center">
    <i data-feather="chevron-left" class="mr-1 icon-md"></i>
    Quay về danh sách
</a>

@section Scripts {
    <partial name="_Summernote" model="Content" />
}