@{
    ViewData["Title"] = "Có lỗi";
}

<div class="row">
    <div class="col-sm-6 mt-4 text-danger">
        <h1>@ViewData["Title"]</h1>
        <div>
            Lỗi không hoàn thành được tác vụ
        </div>

    </div>
</div>