@model ExternalLoginConfirmationViewModel

<div class="flex-grow-1">

    <div class="main bg-white sign-in-up-container">
        <div class="icontainer">
            <div class="d-flex flex-column bg-white min-vh-75">
                <div class="user-authentication">
                    <div class="headline my-4">
                        <div class="d-flex align-items-center">
                            <h2>Thực hiện liên kết với tài khoản @ViewData["ProviderDisplayName"].</h2>
                        </div>
                    </div>
                    <div class="leftside">
                        <form asp-area="User/Auths" asp-controller="Auth" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]"
                              method="post" class="form-horizontal" role="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <p class="text-dark-grey">
                                Bạn đang sử dụng tài khoản <strong>@ViewData["ProviderDisplayName"]</strong> để đăng nhập. 
                                Vui lòng xác nhận email bên dưới để hoàn tất việc tạo tài khoản mới.
                            </p>
                            <div class="form-group mt-3">
                                <label asp-for="Email" class="col-md-2 control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                    <button type="submit" class="ibtn ibtn-md ibtn-primary w-100">Xác Nhận</button>
                            </div>
                        </form>
                        
                    </div>
         
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
