<div class="flex-grow-1">


    <div class="container-lg d-flex flex-column bg-white main">
        <div class="user-authentication">
            <div class="headline my-4">
                <div class="d-flex align-items-center">
                    <h3 class="text-it-black fs-5 mb-0">
                        Chào mừng bạn đến với
                        <img class="px-1 mb-1" src="https://itviec.com/assets/logo_black_text-04776232a37ae9091cddb3df1973277252b12ad19a16715f4486e603ade3b6a4.png" width="80" height="30">
                    </h3>
                </div>
            </div>
            <div class="leftside" data-controller="users--forgot-password" data-users--forgot-password-loading-outlet=".spinner-loading">
                <h1 class="mb-4">Quên mật khẩu?</h1>
                <div class="alert alert-success d-none" data-users--forgot-password-target="noticeMsg">
                    Bạn sẽ nhận được email cùng với hướng dẫn đặt lại mật khẩu trong vòng một ít phút.
                </div>
                <form data-users--forgot-password-target="form" data-controller="bootstrap_validation" data-action="ajax:beforeSend->users--forgot-password#showLoading ajax:complete->users--forgot-password#submitCallback" class="new_user" id="new_user" role="form" format="json" action="/users/password?locale=vi" accept-charset="UTF-8" data-remote="true" method="post" novalidate="novalidate">
                    <div class="invalid-feedback mb-3 fs-6" data-users--forgot-password-target="errorMsg"></div>
                    <div class="mb-3">
                        <label class="mb-1" for="user_email">
                            <span>Email của bạn</span>
                            <abbr class="text-danger">*</abbr>
                        </label>
                        <input autofocus="autofocus" class="form-control is-invalid" placeholder="Email của bạn" required="required" data-rule-email="true" data-msg-email="Địa chỉ Email không hợp lệ" data-msg-required="Thông tin bắt buộc" type="email" value="" name="user[email]" id="user_email" aria-describedby="user_email-error" aria-invalid="true"><div id="user_email-error" class="invalid-feedback">Thông tin bắt buộc</div>
                    </div>
                    <div class="mb-3">
                        <button class="ibtn ibtn-md ibtn-primary px-4 w-100 text-white" type="submit">Đặt lại mật khẩu</button>
                        <div class="my-3 text-center fw-medium">HOẶC</div>
                        <a class="ibtn ibtn-md ibtn-secondary w-100" data-controller="utm-tracking" href="/dang-nhap-tai-khoan">Đăng nhập</a>
                    </div>
                </form>
            </div>
            <div class="rightside d-sm-flex d-none justify-content-evenly align-items-center">
                <img src="https://itviec.com/assets/robby-sad-a1fb55a6e3945a12eff5fb75d5bbf4e34784cea4ae905ac0a90a7c2b76507983.png">
            </div>
        </div>
    </div>
    <div class="spinner-loading" data-controller="loading">
        <span class="spinner-border"></span>
    </div>

</div>