@model ForgotPasswordViewModel
@{
    var errorMessage = ViewBag.ErrorMessage as string;
    var message = ViewBag.Message as string;

}

<div class="flex-grow-1">


    <div class="container-lg d-flex flex-column bg-white main">
        <div class="user-authentication">
            <div class="headline my-4">
                <div class="d-flex align-items-center">
                    <h3 class="text-it-black fs-5 mb-0">
                        Chào mừng bạn đến với
                        <img class="px-1 mb-1" src="~/images/logo.png" alt="logo" width="180" />
                    </h3>
                </div>
            </div>
            <div class="leftside">
                <h1 class="mb-4">Quên mật khẩu?</h1>

                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="invalid-feedback mb-3 fs-6 d-block" role="alert">
                        @Html.Raw(errorMessage)
                    </div>
                }

                @if (!string.IsNullOrEmpty(message))
                {
                    <div class="alert alert-success" role="alert">
                        @Html.Raw(message)
                    </div>
                }
                <form class="new_user" id="new_user" role="form" accept-charset="UTF-8" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="invalid-feedback mb-3 fs-6"></div>
                    <div class="mb-3">
                        <label asp-for="Email" class="mb-1" for="user_email">
                            <span>Email của bạn</span>
                            <abbr class="text-danger">*</abbr>
                        </label>
                        <input asp-for="Email" autofocus="autofocus"
                            class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")"
                            required="required" type="email" name="Email" id="user_email" />
                        <div id="user_email-error" asp-validation-for="Email" class="invalid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <button class="ibtn ibtn-md px-4 w-100 ibtn-primary" type="submit">Đặt lại mật
                            khẩu</button>
                        <div class="my-3 text-center fw-medium">HOẶC</div>
                        <a asp-area="Users/Auth" asp-controller="Auth" asp-action="SignIn"
                            class="ibtn ibtn-md ibtn-outline-primary w-100">
                            Đăng nhập
                        </a>
                    </div>
                </form>
            </div>
            <div class="rightside d-sm-flex d-none justify-content-evenly align-items-center">
                <img src="~/images/icons/sad-robot.png" alt="robot" width="310" />
            </div>
        </div>
    </div>
    <div class="spinner-loading" data-controller="loading">
        <span class="spinner-border"></span>
    </div>

</div>