@{
    ViewData["Title"] = "Tạm khóa tài khoản";
}

<header>
    <div class="row mt-5">
        <div class="col">
            <h2 class="text-danger">@ViewData["Title"]</h2>
            <p class="text-danger">
                Tài khoản bị tạm khóa, hãy thử lại sau
            </p>
        </div>
    </div>
   
</header>
