<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>@ViewData["Title"]</title>
	<!-- core:css -->
	<link rel="stylesheet" href="~/assets/vendors/core/core.css">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<link rel="stylesheet" href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
	<!-- end plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="~/assets/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/assets/vendors/select2/select2.min.css">
	<link rel="stylesheet" href="~/assets/vendors/simplemde/simplemde.min.css">

	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/assets/vendors/cropperjs/cropper.min.css">
	<link rel="stylesheet" href="~/lib/select2/css/select2.css" />
	<link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
	<link rel="stylesheet" href="~/assets/vendors/jquery-steps/jquery.steps.css">
	<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
	<link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet" />

	<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
	<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/css/lightgallery-bundle.min.css" rel="stylesheet" />
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="~/assets/css/demo_1/style.css">
	<!-- End layout styles -->
	<link rel="shortcut icon" href="~/images/network.ico" />
</head>


<body>

	<div class="main-wrapper">

		<!-- partial:partials/_sidebar.html -->
		<partial name="Recruiter/_Sidebar" />

		<!-- partial -->

		<div class="page-wrapper">



			<!-- partial:partials/_navbar.html -->
			<partial name="Recruiter/_Navbar" />

			<!-- partial -->

			<div class="page-content">

				@RenderBody()

			</div>

			<!-- partial:partials/_footer.html -->
			<partial name="Recruiter/_Footer" />

			<!-- partial -->

		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="/_framework/aspnetcore-browser-refresh.js"></script>
	<partial name="_ValidationScriptsPartial" />
	<!-- core:js -->
	<script src="~/assets/vendors/core/core.js"></script>
	<!-- endinject -->
	<!-- plugin js for this page -->
	<script src="~/assets/vendors/chartjs/Chart.min.js"></script>
	<script src="~/assets/vendors/jquery.flot/jquery.flot.js"></script>
	<script src="~/assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
	<script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script src="~/assets/vendors/apexcharts/apexcharts.min.js"></script>
	<script src="~/assets/vendors/progressbar.js/progressbar.min.js"></script>


	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/lightgallery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/plugins/zoom/lg-zoom.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/plugins/fullscreen/lg-fullscreen.min.js"></script>


	<script src="~/assets/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
	<script src="~/assets/vendors/inputmask/jquery.inputmask.min.js"></script>

	<script src="~/lib/select2/js/select2.js"></script>
	<script src="~/assets/vendors/jquery-steps/jquery.steps.min.js"></script>

	<!-- end plugin js for this page -->
	<!-- inject:js -->
	<script src="~/assets/vendors/feather-icons/feather.min.js"></script>
	<script src="~/assets/vendors/cropperjs/cropper.min.js"></script>

	<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
	<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>

	<script src="~/assets/js/template.js"></script>
	<!-- endinject -->
	<!-- custom js for this page -->
	<script src="~/assets/js/dashboard.js"></script>
	<script src="~/assets/js/datepicker.js"></script>

	<!-- end custom js for this page -->
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>


